openapi: 3.2.0
info:
  title: Expedia Group Product Rate Verification Thresholds API
  description: 'The Product API will enable Expedia lodging partners to read, create and edit room types and rate plans via APIs, without having to use Partner Central or contact their market manager. </br><br/>To start experimenting, please use your existing EQC credentials and properties.

    '
  contact:
    name: Lodging Connectivity
    url: https://expediaconnectivity.com/developer
    email: eqcss@expedia.com
  version: '2.0'
servers:
- url: https://services.expediapartnercentral.com/
tags:
- name: Rate Verification Thresholds
  description: Manage room types Rate Verification Thresholds
paths:
  /properties/{propertyId}/roomTypes/{roomTypeId}/rateThresholds:
    get:
      tags:
      - Rate Verification Thresholds
      summary: Expedia Group Read a single room type's rate verification thresholds
      operationId: getRateVerificationThresholds
      parameters:
      - name: propertyId
        in: path
        description: Expedia Property ID
        required: true
        schema:
          type: string
      - name: roomTypeId
        in: path
        description: Room type resource ID. Integer
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.expedia.eps.product-v2+json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperDTO_RateVerificationThresholdsDTO'
      security:
      - Basic: []
components:
  schemas:
    RateVerificationThresholdsDTOLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/LinkDTO'
    RateVerificationThresholdsDTO:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/RateVerificationThresholdsDTOLinks'
        maxAmount:
          type: number
          description: Defines maximum acceptable rates. If the rate is higher than this maximum value, the AR rate update will be ignored and a warning will be returned.
          format: double
        minAmount:
          type: number
          description: Defines minimum acceptable rates. If the rate is lower than this minimum value, the AR rate update will be ignored and a warning will be returned.
          format: double
        source:
          type: string
          description: Defines how the minimum and maximum amounts were calculated. It is either RecentBookings (thresholds calculated using last 10 reservations, and applying multiplication and division factor to find maximum and minimum values) or Manual (manually defined by Expedia). RecentReservation is Expedia's default method.
          enum:
          - RecentBookings
          - ManualOverride
        type:
          type: string
          description: 'Type of the rate verification thresholds. The only possible value is: SellLAR'
          enum:
          - NetRate
          - SellLAR
    ResponseWrapperDTO_RateVerificationThresholdsDTO:
      type: object
      properties:
        entity:
          $ref: '#/components/schemas/RateVerificationThresholdsDTO'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDTO'
    LinkDTO:
      type: object
      properties:
        href:
          type: string
          description: The link's URL.
    ErrorDTO:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    Basic:
      type: http
      scheme: basic
