openapi: 3.0.1
info:
  title: Expedia Group EPS Deposit Bookings Manage Booking API
  description: 'The EPS Deposit API manages the deposit policy for a property, offering operations to create/update, read and delete it. <br/><br/>To start experimenting, please use your existing EQC credentials and properties. We''ve also made the following test credentials available: EQCtest12933870 / ew67nk33 assigned to test property ID 12933870.'
  contact:
    name: Expedia Partner Services
    url: https://expediaconnectivity.com/developer
    email: eqcss@expedia.com
  version: '1.0'
servers:
- url: https://services.expediapartnercentral.com/
security:
- Basic: []
tags:
- name: Manage Booking
  description: Retrieve existing itineraries or cancel existing rooms.
paths:
  /itineraries:
    get:
      tags:
      - Manage Booking
      summary: Expedia Group Search for and retrieve Bookings with Affiliate Reference Id
      description: 'This can be called directly without a token when an affiliate reference id is provided. It returns details about bookings associated with an affiliate reference id, along with cancel links to cancel the bookings.


        <i>Note: Newly created itineraries may sometimes have a small delay between the time of creation and the time that the itinerary can be retrieved. If you receive no results while trying to search for an itinerary that was successfully created, or if you receive a response with two fields, namely, `itinerary_id` and `creation_date_time`, then please wait a few minutes before trying to search for the itinerary again.</i>

        '
      operationId: getReservation
      parameters:
      - name: Accept
        in: header
        description: 'Specifies the response format that the client would like to receive back. This must be `application/json`.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Accept-Encoding
        in: header
        description: 'Specifies the response encoding that the client would like to receive back. This must be `gzip`.

          '
        required: true
        schema:
          type: string
        example: gzip
      - name: Customer-Ip
        in: header
        description: 'IP address of the customer, as captured by your integration.<br>

          Ensure your integration passes the customer''s IP, not your own. This value helps determine their location and assign the correct payment gateway.<br>

          Also used for fraud recovery and other important analytics.

          '
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        description: 'The `User-Agent` header string from the customer''s request, as captured by your integration. If you are building an application then the `User-Agent` value should be `{app name}/{app version}`.

          '
        required: true
        schema:
          type: string
        example: TravelNow/3.30.112
      - name: Customer-Session-Id
        in: header
        description: 'Insert your own unique value for each user session, beginning with the first API call.

          Continue to pass the same value for each subsequent API call during the user''s session, using a new value for every new customer session.<br>

          Including this value greatly eases EPS''s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user''s session.

          '
        schema:
          type: string
      - name: Test
        in: header
        description: 'The retrieve call has a test header that can be used to return set responses with the following keywords:<br>

          * `standard` - Requires valid test booking.

          * `service_unavailable`

          * `internal_server_error`

          '
        schema:
          type: string
          enum:
          - standard
          - service_unavailable
          - internal_server_error
      - name: affiliate_reference_id
        in: query
        description: 'The affilliate reference id value. This field supports a maximum of 28 characters.

          '
        required: true
        schema:
          type: string
        example: 111A222BB33344CC5555
      - name: email
        in: query
        description: 'Email associated with the booking. Special characters in the local part or domain should be encoded.<br>

          '
        required: true
        schema:
          type: string
        example: test@example.com
      - name: include
        in: query
        description: "Options for which information to return in the response. The value must be lower case.\n  * history - Include itinerary history, showing details of the changes made to this itinerary\n"
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - history
        example:
        - history
      responses:
        '200':
          description: OK
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Itinerary'
              examples:
                Itineraries:
                  value:
                  - itinerary_id: '8999989898988'
                    property_id: '8150374'
                    links:
                      cancel:
                        method: DELETE
                        href: /v3/itineraries/8999989898988?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    email: smith@example.com
                    phone:
                      country_code: '1'
                      area_code: '487'
                      number: '5550077'
                    rooms:
                    - id: '926784314'
                      confirmation_id:
                        expedia: '1234567890'
                        property: BEF23123AA
                      bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                      checkin: '2018-09-21'
                      checkout: '2018-09-23'
                      number_of_adults: 2
                      child_ages:
                      - 2
                      - 3
                      given_name: Givenne
                      family_name: Nameo
                      status: booked
                      special_request: Please give me extra towels.
                      smoking: false
                      rate:
                        id: 035943984
                        merchant_of_record: expedia
                        refundable: true
                        cancel_refund:
                          amount: -65.98
                          currency: USD
                        amenities:
                        - '12345'
                        - '678'
                        - '9999'
                        promotions:
                          value_adds:
                            123abc:
                              id: 123abc
                              description: 10 USD credit on activities and sports for your stay.
                            3x4mp13:
                              id: 3x4mp13
                              description: 20% discount on theme park tickets purchased through the concierge desk.
                        cancel_penalties:
                        - start: '2018-01-01T01:01:01.000-08:00'
                          end: '2018-12-12T01:01:01.000-08:00'
                          amount: '250.75'
                          currency: USD
                        nonrefundable_date_ranges:
                        - start: '2022-02-02'
                          end: '2022-02-02'
                        deposits:
                        - currency: USD
                          value: '220.75'
                          due: '2018-12-12T01:01:01.000-08:00'
                        pricing:
                          nightly:
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          stay:
                          - type: base_rate
                            value: '123.45'
                            currency: USD
                          totals:
                            inclusive:
                              billable_currency:
                                value: '368.15'
                                currency: USD
                            exclusive:
                              billable_currency:
                                value: '345.91'
                                currency: USD
                            marketing_fee:
                              billable_currency:
                                value: '7.75'
                                currency: USD
                            property_fees:
                              billable_currency:
                                value: '36.95'
                                currency: USD
                          fees:
                            mandatory_fee:
                              billable_currency:
                                value: '5.00'
                                currency: USD
                            resort_fee:
                              billable_currency:
                                value: '20.00'
                                currency: USD
                            mandatory_tax:
                              billable_currency:
                                value: '11.95'
                                currency: USD
                      links:
                        cancel:
                          method: DELETE
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        change:
                          method: PUT
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        shop_for_change:
                          method: GET
                          href: /v3/properties/8150374/availability?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    billing_contact:
                      given_name: John
                      family_name: Smith
                      address:
                        line_1: 555 1st St
                        line_2: 10th Floor
                        line_3: Unit 12
                        city: Seattle
                        state_province_code: WA
                        postal_code: '98121'
                        country_code: US
                    adjustment:
                      value: -100.0
                      type: base_rate
                      currency: USD
                    creation_date_time: '2017-08-17T13:31:15.523Z'
                    affiliate_reference_id: 4480ABC
                    affiliate_metadata: This booking was made with EPS.
                    conversations:
                      links:
                        property:
                          method: GET
                          href: https://www.example.com?key=123abd456
                    travel_purpose: leisure
                    trader_information:
                      traders:
                      - name: Test Property Name
                        address:
                          line_1: 123 Main St
                          city: Springfield
                          state_province_code: MO
                          postal_code: '65804'
                          country_code: US
                        business_register_name: A Real Registry
                        business_register_number: 72973910d
                        self_certification: true
                        phone: 1-417-555-1212
                        right_to_withdraw_message: 'The right of withdrawal under European consumer law does not apply when you book

                          accommodation. Supplier cancellation policy will apply

                          '
                      terms_and_conditions: https://forever.travel-assets.com/flex/flexmanager/mediaasset/618796-0_2-UnitedKingdom_en.pdf
                Itinerary With History and Change - Extend Stay:
                  value:
                  - itinerary_id: '8999989898988'
                    property_id: '8150374'
                    links:
                      cancel:
                        method: DELETE
                        href: /v3/itineraries/8999989898988?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    email: smith@example.com
                    phone:
                      country_code: '1'
                      area_code: '487'
                      number: '5550077'
                    rooms:
                    - id: '926784314'
                      confirmation_id:
                        expedia: '1234567890'
                        property: BEF23123AA
                      bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                      checkin: '2018-09-21'
                      checkout: '2018-09-23'
                      number_of_adults: 2
                      child_ages:
                      - 2
                      - 3
                      given_name: Givenne
                      family_name: Nameo
                      status: booked
                      special_request: Please give me extra towels.
                      smoking: false
                      rate:
                        id: 035943984
                        merchant_of_record: expedia
                        refundable: true
                        cancel_refund:
                          amount: '-65.98'
                          currency: USD
                        amenities:
                        - '12345'
                        - '678'
                        - '9999'
                        promotions:
                          value_adds:
                            123abc:
                              id: 123abc
                              description: 10 USD credit on activities and sports for your stay.
                            3x4mp13:
                              id: 3x4mp13
                              description: 20% discount on theme park tickets purchased through the concierge desk.
                        cancel_penalties:
                        - start: '2018-01-01T01:01:01.000-08:00'
                          end: '2018-12-12T01:01:01.000-08:00'
                          amount: '250.75'
                          currency: USD
                        nonrefundable_date_ranges:
                        - start: '2018-09-14'
                          end: '2018-09-23'
                        deposits:
                        - currency: USD
                          value: '220.75'
                          due: '2018-08-24T01:01:01.000-08:00'
                        pricing:
                          nightly:
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          stay:
                          - type: base_rate
                            value: '123.45'
                            currency: USD
                          totals:
                            inclusive:
                              billable_currency:
                                value: '368.15'
                                currency: USD
                            exclusive:
                              billable_currency:
                                value: '345.91'
                                currency: USD
                            marketing_fee:
                              billable_currency:
                                value: '7.75'
                                currency: USD
                            property_fees:
                              billable_currency:
                                value: '36.95'
                                currency: USD
                          fees:
                            mandatory_fee:
                              billable_currency:
                                value: '5.00'
                                currency: USD
                            resort_fee:
                              billable_currency:
                                value: '20.00'
                                currency: USD
                            mandatory_tax:
                              billable_currency:
                                value: '11.95'
                                currency: USD
                      links:
                        cancel:
                          method: DELETE
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        change:
                          method: PUT
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    billing_contact:
                      given_name: John
                      family_name: Smith
                      address:
                        line_1: 555 1st St
                        line_2: 10th Floor
                        line_3: Unit 12
                        city: Seattle
                        state_province_code: WA
                        postal_code: '98121'
                        country_code: US
                    adjustment:
                      value: '-32.10'
                      type: base_rate
                      currency: USD
                    creation_date_time: '2017-08-15T15:32:55.523Z'
                    affiliate_reference_id: 4480ABC
                    affiliate_metadata: This booking was made with EPS.
                    conversations:
                      links:
                        property:
                          method: GET
                          href: https://www.example.com?key=123abd456
                    travel_purpose: unspecified
                    itinerary_history:
                    - history_id: '802737048'
                      event_timestamp: '2017-09-17T13:31:15.523Z'
                      event_type: adjustment
                      amount:
                        value: '-32.10'
                        currency: USD
                      agent_id: '10203'
                    room_history:
                    - - history_id: '928364986296'
                        event_timestamp: '2017-08-15T15:32:55.523Z'
                        event_type: created
                        event_source: rapid_api
                        room_id: '926784314'
                        confirmation_id:
                          expedia: '664637628'
                          property: COR8729347BB
                        bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                        checkin: '2018-09-21'
                        checkout: '2018-09-22'
                        number_of_adults: 2
                        child_ages:
                        - 2
                        - 3
                        given_name: Givenne
                        family_name: Nameo
                        status: booked
                        special_request: Please give me extra towels.
                        smoking: false
                        amount_charged:
                          billable_currency:
                            value: '244.70'
                            currency: USD
                        rate:
                          id: 035943984
                          promotions:
                            value_adds:
                              123abc:
                                id: 123abc
                                description: 10 USD credit on activities and sports for your stay.
                              3x4mp13:
                                id: 3x4mp13
                                description: 20% discount on theme park tickets purchased through the concierge desk.
                          deposits:
                          - currency: USD
                            value: '220.75'
                            due: '2018-08-24T01:01:01.000-08:00'
                          pricing:
                            nightly:
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            stay:
                            - type: base_rate
                              value: '123.45'
                              currency: USD
                            totals:
                              inclusive:
                                billable_currency:
                                  value: '244.70'
                                  currency: USD
                              exclusive:
                                billable_currency:
                                  value: '234.68'
                                  currency: USD
                              marketing_fee:
                                billable_currency:
                                  value: '5.14'
                                  currency: USD
                              property_fees:
                                billable_currency:
                                  value: '36.95'
                                  currency: USD
                            fees:
                              mandatory_fee:
                                billable_currency:
                                  value: '5.00'
                                  currency: USD
                              resort_fee:
                                billable_currency:
                                  value: '20.00'
                                  currency: USD
                              mandatory_tax:
                                billable_currency:
                                  value: '11.95'
                                  currency: USD
                      - history_id: '30303030'
                        event_timestamp: '2017-08-17T13:31:15.523Z'
                        event_type: modified
                        event_source: rapid_api
                        change_reference_id: v1-Givenne
                        room_id: '926784314'
                        confirmation_id:
                          expedia: '1234567890'
                          property: BEF23123AA
                        bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                        checkin: '2018-09-21'
                        checkout: '2018-09-23'
                        number_of_adults: 2
                        child_ages:
                        - 2
                        - 3
                        given_name: Givenne
                        family_name: Nameo
                        status: booked
                        special_request: Please give me extra towels.
                        smoking: false
                        amount_charged:
                          billable_currency:
                            value: '123.45'
                            currency: USD
                        rate:
                          id: 035943984
                          promotions:
                            value_adds:
                              123abc:
                                id: 123abc
                                description: 10 USD credit on activities and sports for your stay.
                              3x4mp13:
                                id: 3x4mp13
                                description: 20% discount on theme park tickets purchased through the concierge desk.
                          deposits:
                          - currency: USD
                            value: '220.75'
                            due: '2018-08-24T01:01:01.000-08:00'
                          pricing:
                            nightly:
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            stay:
                            - type: base_rate
                              value: '123.45'
                              currency: USD
                            totals:
                              inclusive:
                                billable_currency:
                                  value: '368.15'
                                  currency: USD
                              exclusive:
                                billable_currency:
                                  value: '345.91'
                                  currency: USD
                              marketing_fee:
                                billable_currency:
                                  value: '7.75'
                                  currency: USD
                              property_fees:
                                billable_currency:
                                  value: '36.95'
                                  currency: USD
                            fees:
                              mandatory_fee:
                                billable_currency:
                                  value: '5.00'
                                  currency: USD
                              resort_fee:
                                billable_currency:
                                  value: '20.00'
                                  currency: USD
                              mandatory_tax:
                                billable_currency:
                                  value: '11.95'
                                  currency: USD
                No itineraries:
                  value: []
        '400':
          description: Bad Request
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: invalid_input
                message: An invalid request was sent in, please check the nested errors for details.
                errors:
                - type: email.invalid
                  message: Customer email address is invalid.
                  fields:
                  - name: email
                    type: querystring
                    value: thisisabademail
        '401':
          description: Unauthorized
          headers:
            Region:
              $ref: '#/components/headers/Region'
            WWW-Authenticate:
              description: Provides an example of the Authorization header.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthenticated
                message: Data required to authenticate your request is missing or inaccurate. Ensure that your request follows the guidelines in our documentation.
                fields:
                - name: apikey
                  type: header
                  value: jaj3982k239dka328e
                - name: signature
                  type: header
                  value: 129d75332614a5bdbe0c7eb540e95a65f9d85a5b53dabb38d19b37fad6312a2bd25c12ee5a82831d55112087e1b
                - name: timestamp
                  type: header
                  value: 198284729
                - name: servertimestamp
                  type: server
                  value: 198284729
        '403':
          description: Forbidden
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthorized
                message: Your request could not be authorized.
        '426':
          description: Upgrade Required
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: upgrade_required
                message: This service requires the use of TLS.
        '429':
          description: Too Many Requests
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: too_many_requests
                message: You have reached your capacity for this type of request.
        '500':
          description: Unknown Internal Error
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: unknown_internal_error
                message: An internal server error has occurred.
        '503':
          description: Service Unavailable
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: service_unavailable
                message: This service is currently unavailable.
      security:
      - rapidAuth: []
  /itineraries/{itinerary_id}:
    get:
      tags:
      - Manage Booking
      summary: Expedia Group Retrieve Booking
      description: 'This API call returns itinerary details and links to resume or cancel the booking. There are two methods to retrieve a booking:

        * Using the link included in the original Book response, example: https://api.ean.com/v3/itineraries/8955599932111?token=QldfCGlcUA4GXVlSAQ4W

        * Using the email of the booking. If the email contains special characters, they must be encoded to successfully retrieve the booking. Example: https://api.ean.com/v3/itineraries/8955599932111?email=customer@email.com


        <i>Note: Newly created itineraries may sometimes have a small delay between the time of creation and the time that the itinerary can be retrieved. If you receive an error when trying to retrieve an itinerary that was successfully created, or if you receive a response with two fields, namely, `itinerary_id` and `creation_date_time`, then please wait a few minutes before trying to retrieve the itinerary again.</i>

        '
      operationId: getReservationByItineraryId
      parameters:
      - name: Accept
        in: header
        description: 'Specifies the response format that the client would like to receive back. This must be `application/json`.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Accept-Encoding
        in: header
        description: 'Specifies the response encoding that the client would like to receive back. This must be `gzip`.

          '
        required: true
        schema:
          type: string
        example: gzip
      - name: Customer-Ip
        in: header
        description: 'IP address of the customer, as captured by your integration.<br>

          Ensure your integration passes the customer''s IP, not your own. This value helps determine their location and assign the correct payment gateway.<br>

          Also used for fraud recovery and other important analytics.

          '
        required: true
        schema:
          type: string
      - name: Customer-Session-Id
        in: header
        description: 'Insert your own unique value for each user session, beginning with the first API call.

          Continue to pass the same value for each subsequent API call during the user''s session, using a new value for every new customer session.<br>

          Including this value greatly eases EPS''s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user''s session.

          '
        schema:
          type: string
      - name: User-Agent
        in: header
        description: 'The `User-Agent` header string from the customer''s request, as captured by your integration. If you are building an application then the `User-Agent` value should be `{app name}/{app version}`.

          '
        required: true
        schema:
          type: string
        example: TravelNow/3.30.112
      - name: Test
        in: header
        description: 'The retrieve call has a test header that can be used to return set responses. Passing standard in the Test header will retrieve a test booking, and passing any of the errors listed below will return a stubbed error response that you can use to test your error handling code. Additionally, refer to the Test Request documentation for more details on how these header values are used.

          * `standard` - Requires valid test booking.

          * `service_unavailable`

          * `internal_server_error`

          '
        schema:
          type: string
          enum:
          - standard
          - service_unavailable
          - internal_server_error
      - name: itinerary_id
        in: path
        description: 'This parameter is used only to prefix the token value - no ID value is used.<br>

          '
        required: true
        schema:
          type: string
        example: '8955599932111'
      - name: token
        in: query
        description: 'Provided as part of the link object and used to maintain state across calls. This simplifies each subsequent call by limiting the amount of information required at each step and reduces the potential for errors. Token values cannot be viewed or changed.

          '
        schema:
          type: string
        example: MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
      - name: email
        in: query
        description: 'Email associated with the booking. Special characters in the local part or domain should be encoded. (Email is required if the token is not provided the request) <br>

          '
        schema:
          type: string
        example: test@example.com
      - name: include
        in: query
        description: "Options for which information to return in the response. The value must be lower case.\n  * history - Include itinerary history, showing details of the changes made to this itinerary\n"
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - history
        example:
        - history
      responses:
        '200':
          description: OK
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
              examples:
                Itinerary No History:
                  value:
                    itinerary_id: '8999989898988'
                    property_id: '8150374'
                    links:
                      cancel:
                        method: DELETE
                        href: /v3/itineraries/8999989898988?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    email: smith@example.com
                    phone:
                      country_code: '1'
                      area_code: '487'
                      number: '5550077'
                    rooms:
                    - id: '926784314'
                      confirmation_id:
                        expedia: '1234567890'
                        property: BEF23123AA
                      bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                      checkin: '2018-09-21'
                      checkout: '2018-09-23'
                      number_of_adults: 2
                      child_ages:
                      - 2
                      - 3
                      given_name: Givenne
                      family_name: Nameo
                      status: booked
                      special_request: Please give me extra towels.
                      smoking: false
                      loyalty_id: ABC123
                      rate:
                        id: 035943984
                        merchant_of_record: expedia
                        refundable: true
                        cancel_refund:
                          amount: -65.98
                          currency: USD
                        amenities:
                        - '12345'
                        - '678'
                        - '9999'
                        promotions:
                          value_adds:
                            123abc:
                              id: 123abc
                              description: 10 USD credit on activities and sports for your stay.
                            3x4mp13:
                              id: 3x4mp13
                              description: 20% discount on theme park tickets purchased through the concierge desk.
                        cancel_penalties:
                        - start: '2018-01-01T01:01:01.000-08:00'
                          end: '2018-12-12T01:01:01.000-08:00'
                          amount: '250.75'
                          currency: USD
                        nonrefundable_date_ranges:
                        - start: '2022-02-02'
                          end: '2022-02-02'
                        deposits:
                        - currency: USD
                          value: '220.75'
                          due: '2018-12-12T01:01:01.000-08:00'
                        pricing:
                          nightly:
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          stay:
                          - type: base_rate
                            value: '123.45'
                            currency: USD
                          totals:
                            inclusive:
                              billable_currency:
                                value: '368.15'
                                currency: USD
                            exclusive:
                              billable_currency:
                                value: '345.91'
                                currency: USD
                            marketing_fee:
                              billable_currency:
                                value: '7.75'
                                currency: USD
                            property_fees:
                              billable_currency:
                                value: '36.95'
                                currency: USD
                          fees:
                            mandatory_fee:
                              billable_currency:
                                value: '5.00'
                                currency: USD
                            resort_fee:
                              billable_currency:
                                value: '20.00'
                                currency: USD
                            mandatory_tax:
                              billable_currency:
                                value: '11.95'
                                currency: USD
                      links:
                        cancel:
                          method: DELETE
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        change:
                          method: PUT
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        shop_for_change:
                          method: GET
                          href: /v3/properties/8150374/availability?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    billing_contact:
                      given_name: John
                      family_name: Smith
                      address:
                        line_1: 555 1st St
                        line_2: 10th Floor
                        line_3: Unit 12
                        city: Seattle
                        state_province_code: WA
                        postal_code: '98121'
                        country_code: US
                    adjustment:
                      value: -100.0
                      type: base_rate
                      currency: USD
                    creation_date_time: '2017-08-17T13:31:15.523Z'
                    affiliate_reference_id: 4480ABC
                    affiliate_metadata: This booking was made with EPS.
                    conversations:
                      links:
                        property:
                          method: GET
                          href: https://www.example.com?key=123abd456
                    travel_purpose: leisure
                Itinerary with History:
                  value:
                    itinerary_id: '8999989898988'
                    property_id: '8150374'
                    links:
                      cancel:
                        method: DELETE
                        href: /v3/itineraries/8999989898988?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    email: smith@example.com
                    phone:
                      country_code: '1'
                      area_code: '487'
                      number: '5550077'
                    rooms:
                    - id: '926784314'
                      confirmation_id:
                        expedia: '1234567890'
                        property: BEF23123AA
                      bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                      checkin: '2018-09-21'
                      checkout: '2018-09-23'
                      number_of_adults: 2
                      child_ages:
                      - 2
                      - 3
                      given_name: Givenne
                      family_name: Nameo
                      status: booked
                      special_request: Please give me extra towels.
                      smoking: false
                      rate:
                        id: 035943984
                        merchant_of_record: expedia
                        refundable: true
                        cancel_refund:
                          amount: '-65.98'
                          currency: USD
                        amenities:
                        - '12345'
                        - '678'
                        - '9999'
                        promotions:
                          value_adds:
                            123abc:
                              id: 123abc
                              description: 10 USD credit on activities and sports for your stay.
                            3x4mp13:
                              id: 3x4mp13
                              description: 20% discount on theme park tickets purchased through the concierge desk.
                        cancel_penalties:
                        - start: '2018-01-01T01:01:01.000-08:00'
                          end: '2018-12-12T01:01:01.000-08:00'
                          amount: '250.75'
                          currency: USD
                        nonrefundable_date_ranges:
                        - start: '2018-09-14'
                          end: '2018-09-23'
                        deposits:
                        - currency: USD
                          value: '220.75'
                          due: '2018-08-24T01:01:01.000-08:00'
                        pricing:
                          nightly:
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          - - type: base_rate
                              value: '111.23'
                              currency: USD
                            - type: sales_tax
                              value: '11.12'
                              currency: USD
                          stay:
                          - type: base_rate
                            value: '123.45'
                            currency: USD
                          totals:
                            inclusive:
                              billable_currency:
                                value: '368.15'
                                currency: USD
                            exclusive:
                              billable_currency:
                                value: '345.91'
                                currency: USD
                            marketing_fee:
                              billable_currency:
                                value: '7.75'
                                currency: USD
                            property_fees:
                              billable_currency:
                                value: '36.95'
                                currency: USD
                          fees:
                            mandatory_fee:
                              billable_currency:
                                value: '5.00'
                                currency: USD
                            resort_fee:
                              billable_currency:
                                value: '20.00'
                                currency: USD
                            mandatory_tax:
                              billable_currency:
                                value: '11.95'
                                currency: USD
                      links:
                        cancel:
                          method: DELETE
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        change:
                          method: PUT
                          href: /v3/itineraries/8999989898988/rooms/d08572fc-82d2-4d5d-ad30-60f5be7fb53e?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                        shop_for_change:
                          method: GET
                          href: /v3/properties/8150374/availability?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
                    billing_contact:
                      given_name: John
                      family_name: Smith
                      address:
                        line_1: 555 1st St
                        line_2: 10th Floor
                        line_3: Unit 12
                        city: Seattle
                        state_province_code: WA
                        postal_code: '98121'
                        country_code: US
                    adjustment:
                      value: '-32.10'
                      type: base_rate
                      currency: USD
                    creation_date_time: '2017-08-15T15:32:55.523Z'
                    affiliate_reference_id: 4480ABC
                    affiliate_metadata: This booking was made with EPS.
                    conversations:
                      links:
                        property:
                          method: GET
                          href: https://www.example.com?key=123abd456
                    travel_purpose: unspecified
                    itinerary_history:
                    - history_id: '802737048'
                      event_timestamp: '2017-09-17T13:31:15.523Z'
                      event_type: adjustment
                      amount:
                        value: '-32.10'
                        currency: USD
                      agent_id: '10203'
                    room_history:
                    - - history_id: '928364986296'
                        event_timestamp: '2017-08-15T15:32:55.523Z'
                        event_type: created
                        event_source: rapid_api
                        room_id: '926784314'
                        confirmation_id:
                          expedia: '664637628'
                          property: COR8729347BB
                        bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                        checkin: '2018-09-21'
                        checkout: '2018-09-22'
                        number_of_adults: 2
                        child_ages:
                        - 2
                        - 3
                        given_name: Givenne
                        family_name: Nameo
                        status: booked
                        special_request: Please give me extra towels.
                        smoking: false
                        amount_charged:
                          billable_currency:
                            value: '244.70'
                            currency: USD
                        rate:
                          id: 035943984
                          promotions:
                            value_adds:
                              123abc:
                                id: 123abc
                                description: 10 USD credit on activities and sports for your stay.
                              3x4mp13:
                                id: 3x4mp13
                                description: 20% discount on theme park tickets purchased through the concierge desk.
                          deposits:
                          - currency: USD
                            value: '220.75'
                            due: '2018-08-24T01:01:01.000-08:00'
                          pricing:
                            nightly:
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            stay:
                            - type: base_rate
                              value: '123.45'
                              currency: USD
                            totals:
                              inclusive:
                                billable_currency:
                                  value: '244.70'
                                  currency: USD
                              exclusive:
                                billable_currency:
                                  value: '234.68'
                                  currency: USD
                              marketing_fee:
                                billable_currency:
                                  value: '5.14'
                                  currency: USD
                              property_fees:
                                billable_currency:
                                  value: '36.95'
                                  currency: USD
                            fees:
                              mandatory_fee:
                                billable_currency:
                                  value: '5.00'
                                  currency: USD
                              resort_fee:
                                billable_currency:
                                  value: '20.00'
                                  currency: USD
                              mandatory_tax:
                                billable_currency:
                                  value: '11.95'
                                  currency: USD
                      - history_id: '30303030'
                        event_timestamp: '2017-08-17T13:31:15.523Z'
                        event_type: modified
                        event_source: rapid_api
                        change_reference_id: v1-Givenne
                        room_id: '926784314'
                        confirmation_id:
                          expedia: '1234567890'
                          property: BEF23123AA
                        bed_group_id: d395b56d-d31d-4a84-ad2b-66820b1d48e2
                        checkin: '2018-09-21'
                        checkout: '2018-09-23'
                        number_of_adults: 2
                        child_ages:
                        - 2
                        - 3
                        given_name: Givenne
                        family_name: Nameo
                        status: booked
                        special_request: Please give me extra towels.
                        smoking: false
                        amount_charged:
                          billable_currency:
                            value: '123.45'
                            currency: USD
                        rate:
                          id: 035943984
                          promotions:
                            value_adds:
                              123abc:
                                id: 123abc
                                description: 10 USD credit on activities and sports for your stay.
                              3x4mp13:
                                id: 3x4mp13
                                description: 20% discount on theme park tickets purchased through the concierge desk.
                          deposits:
                          - currency: USD
                            value: '220.75'
                            due: '2018-08-24T01:01:01.000-08:00'
                          pricing:
                            nightly:
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            - - type: base_rate
                                value: '111.23'
                                currency: USD
                              - type: sales_tax
                                value: '11.12'
                                currency: USD
                            stay:
                            - type: base_rate
                              value: '123.45'
                              currency: USD
                            totals:
                              inclusive:
                                billable_currency:
                                  value: '368.15'
                                  currency: USD
                              exclusive:
                                billable_currency:
                                  value: '345.91'
                                  currency: USD
                              marketing_fee:
                                billable_currency:
                                  value: '7.75'
                                  currency: USD
                              property_fees:
                                billable_currency:
                                  value: '36.95'
                                  currency: USD
                            fees:
                              mandatory_fee:
                                billable_currency:
                                  value: '5.00'
                                  currency: USD
                              resort_fee:
                                billable_currency:
                                  value: '20.00'
                                  currency: USD
                              mandatory_tax:
                                billable_currency:
                                  value: '11.95'
                                  currency: USD
        '400':
          description: Bad Request
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: invalid_input
                message: An invalid request was sent in, please check the nested errors for details.
                errors:
                - type: link.invalid
                  message: Link is invalid.
        '401':
          description: Unauthorized
          headers:
            Region:
              $ref: '#/components/headers/Region'
            WWW-Authenticate:
              description: Provides an example of the Authorization header.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthenticated
                message: Data required to authenticate your request is missing or inaccurate. Ensure that your request follows the guidelines in our documentation.
                fields:
                - name: apikey
                  type: header
                  value: jaj3982k239dka328e
                - name: signature
                  type: header
                  value: 129d75332614a5bdbe0c7eb540e95a65f9d85a5b53dabb38d19b37fad6312a2bd25c12ee5a82831d55112087e1b
                - name: timestamp
                  type: header
                  value: 198284729
                - name: servertimestamp
                  type: server
                  value: 198284729
        '403':
          description: Forbidden
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthorized
                message: Your request could not be authorized.
        '404':
          description: Not Found
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: resource_not_found
                message: Itinerary was not found with provided request.
        '426':
          description: Upgrade Required
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: upgrade_required
                message: This service requires the use of TLS.
        '429':
          description: Too Many Requests
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: too_many_requests
                message: You have reached your capacity for this type of request.
        '500':
          description: Unknown Internal Error
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: unknown_internal_error
                message: An internal server error has occurred.
        '503':
          description: Service Unavailable
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: service_unavailable
                message: This service is currently unavailable.
      security:
      - rapidAuth: []
    delete:
      tags:
      - Manage Booking
      summary: Expedia Group Cancel Held Booking
      description: 'This link will be available in a held booking response.

        '
      operationId: deleteHeldBooking
      parameters:
      - name: Accept
        in: header
        description: 'Specifies the response format that the client would like to receive back. This must be `application/json`.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Accept-Encoding
        in: header
        description: 'Specifies the response encoding that the client would like to receive back. This must be `gzip`.

          '
        required: true
        schema:
          type: string
        example: gzip
      - name: Customer-Ip
        in: header
        description: 'IP address of the customer, as captured by your integration.<br>

          Ensure your integration passes the customer''s IP, not your own. This value helps determine their location and assign the correct payment gateway.<br>

          Also used for fraud recovery and other important analytics.

          '
        required: true
        schema:
          type: string
      - name: Customer-Session-Id
        in: header
        description: 'Insert your own unique value for each user session, beginning with the first API call.

          Continue to pass the same value for each subsequent API call during the user''s session, using a new value for every new customer session.<br>

          Including this value greatly eases EPS''s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user''s session.

          '
        schema:
          type: string
      - name: User-Agent
        in: header
        description: 'The `User-Agent` header string from the customer''s request, as captured by your integration. If you are building an application then the `User-Agent` value should be `{app name}/{app version}`.

          '
        required: true
        schema:
          type: string
        example: TravelNow/3.30.112
      - name: Test
        in: header
        description: 'The cancel call has a test header that can be used to return set responses with the following keywords:<br>

          * `standard` - Requires valid test held booking.

          * `service_unavailable`

          * `internal_server_error`

          * `post_stay_cancel`

          '
        schema:
          type: string
          enum:
          - standard
          - service_unavailable
          - internal_server_error
          - post_stay_cancel
      - name: itinerary_id
        in: path
        description: 'This parameter is used only to prefix the token value - no ID value is used.<br>

          '
        required: true
        schema:
          type: string
        example: '8955599932111'
      - name: token
        in: query
        description: 'Provided as part of the link object and used to maintain state across calls. This simplifies each subsequent call by limiting the amount of information required at each step and reduces the potential for errors. Token values cannot be viewed or changed.

          '
        required: true
        schema:
          type: string
        example: MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
      responses:
        '202':
          description: Accepted - Request is valid but the state of the booking is unknown. Make a retrieve call to verify the booking has been canceled properly.
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content: {}
        '204':
          description: No Content - Booking has successfully canceled.
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content: {}
        '400':
          description: Bad Request
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Link Invalid Example:
                  value:
                    type: invalid_input
                    message: An invalid request was sent in, please check the nested errors for details.
                    errors:
                    - type: link.invalid
                      message: Link is invalid.
                Room Already Cancelled Example:
                  value:
                    type: room_already_cancelled
                    message: Room is already cancelled.
        '401':
          description: Unauthorized
          headers:
            Region:
              $ref: '#/components/headers/Region'
            WWW-Authenticate:
              description: Provides an example of the Authorization header.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthenticated
                message: Data required to authenticate your request is missing or inaccurate. Ensure that your request follows the guidelines in our documentation.
                fields:
                - name: apikey
                  type: header
                  value: jaj3982k239dka328e
                - name: signature
                  type: header
                  value: 129d75332614a5bdbe0c7eb540e95a65f9d85a5b53dabb38d19b37fad6312a2bd25c12ee5a82831d55112087e1b
                - name: timestamp
                  type: header
                  value: 198284729
                - name: servertimestamp
                  type: server
                  value: 198284729
        '403':
          description: Forbidden
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthorized
                message: Your request could not be authorized.
        '404':
          description: Not Found
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: resource_not_found
                message: Itinerary was not found with provided request.
        '426':
          description: Upgrade Required
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: upgrade_required
                message: This service requires the use of TLS.
        '429':
          description: Too Many Requests
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: too_many_requests
                message: You have reached your capacity for this type of request.
        '500':
          description: Unknown Internal Error
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: unknown_internal_error
                message: An internal server error has occurred.
        '503':
          description: Service Unavailable
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: service_unavailable
                message: This service is currently unavailable.
      security:
      - rapidAuth: []
  /itineraries/{itinerary_id}/rooms/{room_id}:
    put:
      tags:
      - Manage Booking
      summary: Expedia Group Change details of a room.
      description: 'This link will be available in the retrieve response. Changes in smoking preference and special request will be passed along to the property and are not guaranteed.

        '
      operationId: changeRoomDetails
      parameters:
      - name: Accept
        in: header
        description: 'Specifies the response format that the client would like to receive back. This must be `application/json`.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Accept-Encoding
        in: header
        description: 'Specifies the response encoding that the client would like to receive back. This must be `gzip`.

          '
        required: true
        schema:
          type: string
        example: gzip
      - name: Content-Type
        in: header
        description: 'This parameter is to specify what format the request body is in. The only supported value is application/json.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Customer-Ip
        in: header
        description: 'IP address of the customer, as captured by your integration.<br>

          Ensure your integration passes the customer''s IP, not your own. This value helps determine their location and assign the correct payment gateway.<br>

          Also used for fraud recovery and other important analytics.

          '
        required: true
        schema:
          type: string
      - name: Customer-Session-Id
        in: header
        description: 'Insert your own unique value for each user session, beginning with the first API call.

          Continue to pass the same value for each subsequent API call during the user''s session, using a new value for every new customer session.<br>

          Including this value greatly eases EPS''s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user''s session.

          '
        schema:
          type: string
      - name: User-Agent
        in: header
        description: 'The `User-Agent` header string from the customer''s request, as captured by your integration. If you are building an application then the `User-Agent` value should be `{app name}/{app version}`.

          '
        required: true
        schema:
          type: string
        example: TravelNow/3.30.112
      - name: Test
        in: header
        description: 'The change call has a test header that can be used to return set responses with the following keywords:<br>

          * `standard` - Requires valid test booking.

          * `service_unavailable`

          * `unknown_internal_error`

          '
        schema:
          type: string
          enum:
          - standard
          - service_unavailable
          - unknown_internal_error
      - name: itinerary_id
        in: path
        description: 'This parameter is used only to prefix the token value - no ID value is used.<br>

          '
        required: true
        schema:
          type: string
        example: '8955599932111'
      - name: room_id
        in: path
        description: 'Room ID of a property.<br>

          '
        required: true
        schema:
          type: string
        example: 123abc
      - name: token
        in: query
        description: 'Provided as part of the link object and used to maintain state across calls. This simplifies each subsequent call by limiting the amount of information required at each step and reduces the potential for errors. Token values cannot be viewed or changed.

          '
        required: true
        schema:
          type: string
        example: MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
      requestBody:
        description: The request body is required, but only the fields that are being changed need to be passed in. Fields that are not being changed should not be included in the request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRoomDetailsRequest'
        required: true
      responses:
        '202':
          description: Accepted - Request is valid but the state of the booking is unknown. Make a retrieve call to verify the booking has been changed properly.
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content: {}
        '204':
          description: No Content - Booking has successfully changed.
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content: {}
        '400':
          description: Bad Request
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: invalid_input
                message: An invalid request was sent in, please check the nested errors for details.
                errors:
                - type: link.invalid
                  message: Link is invalid.
        '401':
          description: Unauthorized
          headers:
            Region:
              $ref: '#/components/headers/Region'
            WWW-Authenticate:
              description: Provides an example of the Authorization header.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthenticated
                message: Data required to authenticate your request is missing or inaccurate. Ensure that your request follows the guidelines in our documentation.
[...]
