openapi: 3.2.0
info:
  title: Expedia Group Product Room Type Amenities API
  description: 'The Product API will enable Expedia lodging partners to read, create and edit room types and rate plans via APIs, without having to use Partner Central or contact their market manager. </br><br/>To start experimenting, please use your existing EQC credentials and properties.

    '
  contact:
    name: Lodging Connectivity
    url: https://expediaconnectivity.com/developer
    email: eqcss@expedia.com
  version: '2.0'
servers:
- url: https://services.expediapartnercentral.com/
tags:
- name: Room Type Amenities
  description: Manage room type amenities
paths:
  /properties/{propertyId}/roomTypes/{roomTypeId}/amenities:
    get:
      tags:
      - Room Type Amenities
      summary: Expedia Group Read a single room type's amenities
      operationId: getRoomTypeAmenities
      parameters:
      - name: propertyId
        in: path
        description: Expedia Property ID
        required: true
        schema:
          type: string
      - name: roomTypeId
        in: path
        description: Room type resource ID. Integer
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.expedia.eps.product-v2+json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperDTO_List_RoomTypeAmenityDTO'
      security:
      - Basic: []
    put:
      tags:
      - Room Type Amenities
      summary: Expedia Group Set room type amenities to an existing room type
      operationId: setRoomTypeAmenities
      parameters:
      - name: propertyId
        in: path
        description: Expedia Property Id
        required: true
        schema:
          type: string
      - name: roomTypeId
        in: path
        description: Room type resource ID
        required: true
        schema:
          type: string
      requestBody:
        description: JSON message with the room type amenities
        content:
          application/vnd.expedia.eps.product-v2+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RoomTypeAmenityDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/vnd.expedia.eps.product-v2+json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperDTO_List_RoomTypeAmenityDTO'
      security:
      - Basic: []
      x-codegen-request-body-name: roomTypeAmenityDTOs
components:
  schemas:
    RoomTypeAmenityDTO:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          description: Uniquely identifies an amenity
        detailCode:
          type: string
          description: Adds precision or qualifies the amenity. Mandatory for some amenity, optional for other and prohibited by the rest of the amenities.
        value:
          type: number
          description: Number. Adds precision to the amenity. Mandatory for some amenity, optional for other and prohibited by the rest of the amenities.
    ErrorDTO:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ResponseWrapperDTO_List_RoomTypeAmenityDTO:
      type: object
      properties:
        entity:
          type: array
          items:
            $ref: '#/components/schemas/RoomTypeAmenityDTO'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDTO'
  securitySchemes:
    Basic:
      type: http
      scheme: basic
