openapi: 3.0.1
info:
  title: Expedia Group EPS Deposit Bookings Content API
  description: 'The EPS Deposit API manages the deposit policy for a property, offering operations to create/update, read and delete it. <br/><br/>To start experimenting, please use your existing EQC credentials and properties. We''ve also made the following test credentials available: EQCtest12933870 / ew67nk33 assigned to test property ID 12933870.'
  contact:
    name: Expedia Partner Services
    url: https://expediaconnectivity.com/developer
    email: eqcss@expedia.com
  version: '1.0'
servers:
- url: https://services.expediapartnercentral.com/
security:
- Basic: []
tags:
- name: Content
  description: This section outlines the API calls available to you to access property content.
paths:
  /properties/content:
    get:
      tags:
      - Content
      summary: Expedia Group Property Content
      description: 'Search property content for active properties in the requested language.<br><br>

        When searching with query parameter, `property_id`, you may request 1 to 250 properties at a time.<br><br>

        When searching with query parameters other than `property_id`, the response will be paginated. See the `Link`

        header in the 200 response section.<br><br>

        The response is a JSON map where the key is the property ID and the value is the property object itself, which

        can include property-level, room-level and rate-level information.

        '
      operationId: getPropertyContent
      parameters:
      - name: Accept
        in: header
        description: 'Specifies the response format that the client would like to receive back. This must be `application/json`.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Accept-Encoding
        in: header
        description: 'Specifies the response encoding that the client would like to receive back. This must be `gzip`.

          '
        required: true
        schema:
          type: string
        example: gzip
      - name: User-Agent
        in: header
        description: 'The `User-Agent` header string from the customer''s request, as captured by your integration. If you are

          building an application then the `User-Agent` value should be `{app name}/{app version}`.

          '
        required: true
        schema:
          type: string
        example: TravelNow/3.30.112
      - name: Customer-Session-Id
        in: header
        description: 'Insert your own unique value for each user session, beginning with the first API call. Continue to pass the

          same value for each subsequent API call during the user''s session, using a new value for every new customer

          session.<br>

          Including this value greatly eases EPS''s internal debugging process for issues with partner requests, as it

          explicitly links together request paths for individual user''s session.

          '
        schema:
          type: string
      - name: language
        in: query
        description: 'Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit

          language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes.

          See [https://www.w3.org/International/articles/language-tags/](https://www.w3.org/International/articles/language-tags/)

          <br>

          Language Options: [https://developers.expediagroup.com/docs/rapid/resources/reference/language-options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)

          '
        required: true
        schema:
          type: string
        examples:
          English:
            value: en-US
          Cantonese:
            value: zh-HK
      - name: supply_source
        in: query
        description: "Options for which supply source you would like returned in the content response. This parameter may only be\nsupplied once and will return all properties that match the requested supply source. An error is thrown if\nthe parameter is provided multiple times.\n  * `expedia` - Standard Expedia supply.\n  * `vrbo` - VRBO supply - This option is restricted to partners who have VRBO supply enabled for their\nprofile. See [Vacation Rentals](https://developers.expediagroup.com/docs/rapid/lodging/vacation-rentals) for\nmore information.\n"
        required: true
        schema:
          type: string
        examples:
          Standard:
            value: expedia
          VRBO:
            value: vrbo
      - name: all_inclusive
        in: query
        description: "Search to include properties that have the requested `all_inclusive` values equal to true. If this parameter\nis not supplied, all `all_inclusive` scenarios are included. This parameter can be supplied multiple times\nwith different values, which will include properties that match any of the requested scenarios.\n  * `all_rate_plans` - Return properties where `all_inclusive.all_rate_plans` is true.\n  * `some_rate_plans` = Return properties where `all_inclusive.some_rate_plans` is true.\n"
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          All:
            value: all_rate_plans
      - name: amenity_id
        in: query
        description: 'The ID of the amenity you want to search for. This parameter can be supplied multiple times with different

          values, which will include properties that match any of the requested amenity IDs. This is currently only

          capable of searching for property level amenities. Room and rate level amenities cannot be searched on.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Elevator:
            value: 8
          Multiple:
            value:
            - 115
            - 43
      - name: attribute_id
        in: query
        description: 'The ID of the attribute you want to search for. This parameter can be supplied multiple times with different

          values, which will include properties that match any of the requested attribute IDs.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Pets:
            value: 51
          Multiple:
            value:
            - 5058
            - 5059
      - name: brand_id
        in: query
        description: 'The ID of the brand you want to search for. This parameter can be supplied multiple times with different

          values, which will include properties that match any of the requested brand IDs.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Hyatt:
            value: 11210
          Multiple:
            value:
            - 1
            - 11210
      - name: business_model
        in: query
        description: "Search for properties with the requested business model enabled. This parameter can be supplied multiple\ntimes with different values, which will return all properties that match any of the requested business\nmodels. The value must be lower case.\n  * `expedia_collect` - Return only properties where the payment is collected by Expedia.\n  * `property_collect` - Return only properties where the payment is collected at the property.\n"
        schema:
          type: array
          items:
            type: string
            enum:
            - expedia_collect
            - property_collect
        examples:
          Optional:
            value: null
          Single:
            value: expedia_collect
      - name: category_id
        in: query
        description: 'Search to include properties that have the requested

          [category ID](https://developers.expediagroup.com/docs/rapid/lodging/content/content-reference-lists). If

          this parameter is not supplied, all category IDs are included. This parameter can be supplied multiple times

          with different values, which will include properties that match any of the requested category IDs.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Single:
            value: 1
          Multiple:
            value:
            - 1
            - 2
      - name: category_id_exclude
        in: query
        description: 'Search to exclude properties that do not have the requested

          [category ID](https://developers.expediagroup.com/docs/rapid/lodging/content/content-reference-lists). If

          this parameter is not supplied, all category IDs are included. This parameter can be supplied multiple times

          with different values, which will exclude properties that match any of the requested category IDs.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Single:
            value: 1
          Multiple:
            value:
            - 1
            - 2
      - name: chain_id
        in: query
        description: 'The ID of the chain you want to search for. These chain IDs can be positive and negative numbers. This

          parameter can be supplied multiple times with different values, which will include properties that match any

          of the requested chain IDs.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Single:
            value: -6
          Multiple:
            value:
            - 1
            - 2
      - name: country_code
        in: query
        description: 'Search for properties with the requested country code, in ISO 3166-1 alpha-2 format. This parameter can be

          supplied multiple times with different values, which will include properties that match any of the requested

          country codes.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Single:
            value: US
          Multiple:
            value:
            - US
            - CA
      - name: date_added_end
        in: query
        description: 'Search for properties added on or before the requested UTC date, in ISO 8601 format (YYYY-MM-DD)

          '
        schema:
          type: string
        examples:
          Optional:
            value: null
          Recent:
            value: '2023-09-21'
      - name: date_added_start
        in: query
        description: 'Search for properties added on or after the requested UTC date, in ISO 8601 format (YYYY-MM-DD)

          '
        schema:
          type: string
        examples:
          Optional:
            value: null
          Recent:
            value: '2023-09-20'
      - name: date_updated_end
        in: query
        description: 'Search for properties updated on or before the requested UTC date, in ISO 8601 format (YYYY-MM-DD)

          '
        schema:
          type: string
        examples:
          Optional:
            value: null
          Recent:
            value: '2023-09-21'
      - name: date_updated_start
        in: query
        description: 'Search for properties updated on or after the requested UTC date, in ISO 8601 format (YYYY-MM-DD)

          '
        schema:
          type: string
        examples:
          Optional:
            value: null
          Recent:
            value: '2023-09-20'
      - name: include
        in: query
        description: "Each time this parameter is specified will add to the list of fields and associated objects returned in the\nresponse. All values and field names are lower case. The values `property_ids` and `catalog` will continue\nto behave as specified below for backwards compatibility. All other top level field names will add the\nspecified field to the list of fields returned in the response. See the response schema for a full list of\ntop level field names. Additionally, the field `property_id` will always be returned regardless of what\ninclude values are passed.<br><br>\nPossible values:\n * `property_ids` - ***DEPRECATED*** - Please use `property_id` which matches the response field name.\n * `catalog` - Include all property catalog fields. See\n    [Property Catalog File endpoint](https://developers.expediagroup.com/docs/rapid/resources/rapid-api#get-/files/properties/catalog)\nfor a list of fields.\n * `property_id` - Passing in the value `property_id` and no other values will limit the response to only\n     `property_id`. Not necessary to include in combination with other field name values, as it will always\n     be returned.\n * All field names found at the top level of the property content response are now valid values for\n    inclusion.\n"
        schema:
          type: array
          items:
            type: string
        examples:
          IncludeAll:
            value: null
          Single:
            value: images
          Multiple:
            value:
            - images
            - address
      - name: multi_unit
        in: query
        description: "Search for multi-unit properties. If this parameter is not supplied, both single-unit and multi-unit\nproperties will be included.\n  * `true` - Include only properties that are multi-unit.\n  * `false` - Do not include properties that are multi-unit.\n"
        schema:
          type: boolean
        examples:
          Optional:
            value: null
          Single:
            value: false
      - name: property_id
        in: query
        description: 'The ID of the property you want to search for. You can provide 1 to 250 property_id parameters.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Single:
            value: 1337
          Multiple:
            value:
            - 1337
            - 1
      - name: property_rating_max
        in: query
        description: 'Search for properties with a property rating less than or equal to the requested rating. The highest

          property rating value is 5.0.

          '
        schema:
          type: string
        examples:
          Optional:
            value: null
          Single:
            value: 5.0
      - name: property_rating_min
        in: query
        description: 'Search for properties with a property rating greater than or equal to the requested rating. The lowest

          property rating value is 0.0.

          '
        schema:
          type: string
        examples:
          Optional:
            value: null
          Single:
            value: 3.5
      - name: spoken_language_id
        in: query
        description: 'The id of the spoken language you want to search for. This parameter can be supplied multiple times with

          different values, which will include properties that match any of the requested spoken languages. The

          language code as a subset of BCP47 format.

          '
        schema:
          type: array
          items:
            type: string
        examples:
          Optional:
            value: null
          Single:
            value: en
          Multiple:
            value:
            - zh-yue
            - vi
      - name: billing_terms
        in: query
        description: 'This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed,

          the value for this will be provided to you separately.

          '
        schema:
          type: string
      - name: partner_point_of_sale
        in: query
        description: 'This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the

          value for this will be provided to you separately.

          '
        schema:
          type: string
      - name: payment_terms
        in: query
        description: 'This parameter is to specify what terms should be used when being paid for a resulting booking. If this

          field is needed, the value for this will be provided to you separately.

          '
        schema:
          type: string
      - name: platform_name
        in: query
        description: 'This parameter is to specify what platform is being used to shop and book. If this field is needed, the

          value for this will be provided to you separately.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
            Link:
              description: 'Contains a single link to get the immediate next page of results, and follows the

                [IETF standard](https://tools.ietf.org/html/rfc5988). To get the next page of results, simply follow

                the `next` URL in this header without modifying it. This header will be missing when there are no

                further pages. If the link expires, there will be an `expires` link-extension that is the UTC date the

                link will expire, in ISO 8601 format.

                '
              schema:
                type: string
                example: <https://test.ean.com/v3/properties/content?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m>; rel="next"; expires=2023-06-29T20:15:05.324083439Z
            Pagination-Total-Results:
              description: Contains the total number of property objects found.
              schema:
                type: number
                example: 743
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/PropertyContent'
              examples:
                Single Property Example:
                  value:
                    '12345':
                      property_id: '12345'
                      name: Test Property Name
                      address:
                        line_1: 123 Main St
                        line_2: Apt A
                        city: Springfield
                        state_province_code: MO
                        state_province_name: Missouri
                        postal_code: '65804'
                        country_code: US
                        obfuscation_required: false
                        localized:
                          links:
                            es-ES:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=es-ES&include=address&property_id=12345
                            fr-FR:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=fr-FR&include=address&property_id=12345
                      ratings:
                        property:
                          rating: '3.5'
                          type: Star
                        guest:
                          count: 48382
                          overall: '3.1'
                          cleanliness: '4.2'
                          service: '1.1'
                          comfort: '4.3'
                          condition: '1.6'
                          location: '4.0'
                          neighborhood: '3.4'
                          quality: '3.4'
                          value: '2.2'
                          amenities: '1.4'
                          recommendation_percent: 73%
                      location:
                        coordinates:
                          latitude: 37.158451
                          longitude: -93.268382
                        obfuscated_coordinates:
                          latitude: 37.159532
                          longitude: -93.271681
                        obfuscation_required: false
                      phone: 1-417-862-0153
                      fax: 1-417-863-7249
                      category:
                        id: '1'
                        name: Hotel
                      rank: 42
                      business_model:
                        expedia_collect: true
                        property_collect: false
                      checkin:
                        24_hour: 24-hour check-in
                        begin_time: 3:00 PM
                        end_time: 11:00 PM
                        instructions: Extra-person charges may apply and vary depending on hotel policy. &lt;br />Government-issued photo identification and a credit card or cash deposit are required at check-in for incidental charges. &lt;br />Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed. &lt;br />
                        special_instructions: There is no front desk at this property. To make arrangements for check-in please contact the property ahead of time using the information on the booking confirmation.
                        min_age: 18
                      checkout:
                        time: 11:00 AM
                      fees:
                        mandatory: '<p>You''ll be asked to pay the following charges at the hotel:</p> <ul><li>Deposit: USD 50 per day</li><li>Resort fee: USD 29.12 per accommodation, per night</li></ul> The hotel resort fee includes:<ul><li>Fitness center access</li><li>Internet access</li><li>Phone calls</li><li>Additional inclusions</li></ul> <p>We have included all charges provided to us by the property. However, charges can vary, for example, based on length of stay or the room you book. </p>'
                        optional: 'Fee for in-room wireless Internet: USD 15 per hour (rates may vary)</li> <li>Airport shuttle fee: USD 350 per vehicle (one way)</li>           <li>Rollaway bed fee: USD 175 per night</li>'
                      policies:
                        know_before_you_go: Reservations are required for massage services and spa treatments. Reservations can be made by contacting the hotel prior to arrival, using the contact information on the booking confirmation. </li><li>Children 11 years old and younger stay free when occupying the parent or guardian's room, using existing bedding. </li><li>Only registered guests are allowed in the guestrooms. </li> <li>Some facilities may have restricted access. Guests can contact the property for details using the contact information on the booking confirmation. </li> </ul>
                      attributes:
                        general:
                          '3357':
                            id: '3357'
                            name: Caters to adults only
                          '2549':
                            id: '2549'
                            name: No elevators
                        pets:
                          '51':
                            id: '51'
                            name: Pets allowed
                          '2809':
                            id: '2809'
                            name: Dogs only
                          '3321':
                            id: '3321'
                            name: Pet maximum weight in kg is - 24
                            value: 24
                      amenities:
                        '9':
                          id: '9'
                          name: Fitness facilities
                        '2820':
                          id: '2820'
                          name: Number of indoor pools - 10
                          value: 10
                      images:
                      - caption: Featured Image
                        hero_image: true
                        category: 3
                        links:
                          70px:
                            method: GET
                            href: https://i.travelapi.com/hotels/1000000/20000/15300/15237/bef1b976_t.jpg
                      onsite_payments:
                        currency: USD
                        types:
                          '171':
                            id: '171'
                            name: American Express
                      rooms:
                        '224829':
                          id: '224829'
                          name: Single Room
                          descriptions:
                            overview: <strong>2 Twin Beds</strong><br />269-sq-foot (25-sq-meter) room with mountain views<br /><br /><b>Internet</b> - Free WiFi <br /> <b>Entertainment</b> - Flat-screen TV with cable channels<br /><b>Food & Drink</b> - Refrigerator, coffee/tea maker,  room service, and free bottled water<br /><b>Sleep</b> - Premium bedding <br /><b>Bathroom</b> - Private bathroom, shower, bathrobes, and free toiletries<br /><b>Practical</b> - Safe and desk; cribs/infant beds available on request<br /><b>Comfort</b> - Climate-controlled air conditioning and daily housekeeping<br />Non-Smoking<br />
                          amenities:
                            '130':
                              id: '130'
                              name: Refrigerator
                            '1234':
                              id: '1234'
                              name: Test Amenity - 200
                              value: '200'
                          images:
                          - hero_image: true
                            category: 21001
                            links:
                              70px:
                                method: GET
                                href: https://i.travelapi.com/hotels/1000000/20000/15300/15237/bef1b976_t.jpg
                            caption: Guestroom
                          bed_groups:
                            '37321':
                              id: '37321'
                              description: 1 King Bed
                              configuration:
                              - type: KingBed
                                size: King
                                quantity: 1
                          area:
                            square_meters: 20
                            square_feet: 215
                          views:
                            '4146':
                              id: '4146'
                              name: Courtyard view
                          occupancy:
                            max_allowed:
                              total: 5
                              children: 2
                              adults: 4
                            age_categories:
                              Adult:
                                name: Adult
                                minimum_age: 9
                      rates:
                        333abc:
                          id: 333abc
                          amenities:
                            '2104':
                              id: '2104'
                              name: Full Breakfast
                            '1234':
                              id: '1234'
                              name: Test Amenity - 200
                              value: '200'
                          special_offer_description: "<strong>Breakfast for 2</strong> - Rate includes the following:\r\n<ul><li>Accommodations as selected</li>\r\n<li>Breakfast in hotel restaurant for up to 2 adults and children 12 years old and under registered in the same room</li>\r\n</ul><em>Must book this rate plan to receive benefits. Details provided at check-in. Taxes and gratuity may not be included. No refunds for any unused portion of offer. Offer subject to availability. Offer is not valid with groups/conventions and may not be combined with other promotional offers. Other restrictions and blackout dates may apply.</em>\r\n"
                      dates:
                        added: '1998-07-19T05:00:00.000Z'
                        updated: '2018-03-22T07:23:14.000Z'
                      descriptions:
                        amenities: Don't miss out on the many recreational opportunities, including an outdoor pool, a sauna, and a fitness center. Additional features at this hotel include complimentary wireless Internet access, concierge services, and an arcade/game room.
                        dining: Grab a bite at one of the hotel's 3 restaurants, or stay in and take advantage of 24-hour room service. Quench your thirst with your favorite drink at a bar/lounge. Buffet breakfasts are available daily for a fee.
                        renovations: 'During renovations, the hotel will make every effort to minimize noise and disturbance.  The property will be renovating from 08 May 2017 to 18 May 2017 (completion date subject to change). The following areas are affected:  <ul><li>Fitness facilities</li></ul>'
                        national_ratings: For the benefit of our customers, we have provided a rating based on our rating system.
                        business_amenities: Featured amenities include complimentary wired Internet access, a 24-hour business center, and limo/town car service. Event facilities at this hotel consist of a conference center and meeting rooms. Free self parking is available onsite.
                        rooms: Make yourself at home in one of the 334 air-conditioned rooms featuring LCD televisions. Complimentary wired and wireless Internet access keeps you connected, and satellite programming provides entertainment. Private bathrooms with separate bathtubs and showers feature deep soaking bathtubs and complimentary toiletries. Conveniences include phones, as well as safes and desks.
                        attractions: Distances are calculated in a straight line from the property's location to the point of interest or attraction, and may not reflect actual travel distance. <br /><br /> Distances are displayed to the nearest 0.1 mile and kilometer. <p>Sogo Department Store - 0.7 km / 0.4 mi <br />National Museum of Natural Science - 1.1 km / 0.7 mi <br />Shr-Hwa International Tower - 1.4 km / 0.8 mi <br />Shinkong Mitsukoshi Department Store - 1.5 km / 0.9 mi <br />Taichung Metropolitan Opera House - 1.7 km / 1 mi <br />Tiger City Mall - 1.8 km / 1.1 mi <br />Maple Garden Park - 1.9 km / 1.2 mi <br />National Museum of Fine Arts - 2.1 km / 1.3 mi <br />Feng Chia University - 2.4 km / 1.5 mi <br />Bao An Temple - 2.5 km / 1.6 mi <br />Fengjia Night Market - 2.5 km / 1.6 mi <br />Zhonghua Night Market - 2.7 km / 1.7 mi <br />Chonglun Park - 2.9 km / 1.8 mi <br />Wan He Temple - 2.9 km / 1.8 mi <br />Chungyo Department Store - 3.1 km / 1.9 mi <br /></p><p>The nearest airports are:<br />Taichung (RMQ) - 12 km / 7.5 mi<br />Taipei (TPE-Taoyuan Intl.) - 118.3 km / 73.5 mi<br />Taipei (TSA-Songshan) - 135.5 km / 84.2 mi<br /></p><p></p>
                        location: This 4-star hotel is within close proximity of Shr-Hwa International Tower and Shinkong Mitsukoshi Department Store.  A stay at Tempus Hotel Taichung places you in the heart of Taichung, convenient to Sogo Department Store and National Museum of Natural Science.
                        headline: Near National Museum of Natural Science
                      statistics:
                        '52':
                          id: '52'
                          name: Total number of rooms - 820
                          value: '820'
                        '54':
                          id: '54'
                          name: Number of floors - 38
                          value: '38'
                      airports:
                        preferred:
                          iata_airport_code: SGF
                      themes:
                        '2337':
                          id: '2337'
                          name: Luxury Hotel
                        '2341':
                          id: '2341'
                          name: Spa Hotel
                      all_inclusive:
                        all_rate_plans: true
                        some_rate_plans: false
                        details: <p>This resort is all-inclusive. Onsite food and beverages are included in the room price (some restrictions may apply). </p><p><strong>Activities and facilities/equipment</strong><br />Land activities<ul><li>Fitness facilities</li></ul><br />Lessons/classes/games <ul><li>Pilates</li><li>Yoga</li></ul></p><p><strong>Entertainment</strong><ul><li>Onsite entertainment and activities</li><li>Onsite live performances</li></ul></p>
                      tax_id: AB-012-987-1234-01
                      chain:
                        id: -6
                        name: Hyatt Hotels
                      brand:
                        id: '2209'
                        name: Hyatt Place
                      spoken_languages:
                        vi:
                          id: vi
                          name: Vietnamese
                      multi_unit: true
                      payment_registration_recommended: false
                      supply_source: expedia
                Single Property VRBO Example:
                  value:
                    '4687248':
                      property_id: '4687248'
                      name: Beautiful 6 Bedroom Home With Two Pools, Only 10 minutes To Theme Park!
                      address:
                        city: Springfield
                        state_province_code: MO
                        state_province_name: Missouri
                        postal_code: '65801'
                        country_code: US
                        obfuscation_required: true
                        localized:
                          links:
                            en-US:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=en-US&property_id=4687248&include=address&supply_source=vrbo
                      ratings:
                        guest:
                          count: 59
                          overall: '5.0'
                          cleanliness: '4.9'
                          recommendation_percent: '100.0'
                      location:
                        coordinates:
                          latitude: 38.139185
                          longitude: -92.823674
                        obfuscated_coordinates:
                          latitude: 38.247296
                          longitude: -92.912563
                        obfuscation_required: false
                      phone: 1-4175551212
                      category:
                        id: '17'
                        name: Private vacation home
                      business_model:
                        expedia_collect: true
                        property_collect: true
                      rank: 99999999
                      checkin:
                        begin_time: 4:00 PM
                        instructions: <ul>  <li>Extra-person charges may apply and vary depending on property policy</li><li>Government-issued photo identification and a credit card, debit card, or cash deposit may be required at check-in for incidental charges</li><li>Special requests are subject to availability upon check-in and may incur additional charges; special requests cannot be guaranteed</li><li>Onsite parties or group events are strictly prohibited</li><li>Safety features at this property include a fire extinguisher, a smoke detector, a first aid kit, and a deadbolt lock</li><li>This property is managed through our partner, Vrbo. You will receive an email from Vrbo with a link to a Vrbo account, where you can change or cancel your reservation</li>  </ul>
                        special_instructions: You will receive an email from the host with check-in and check-out instructions. You will also receive an email from Vrbo with a link to a Vrbo account which will enable you to manage your booking.
                        min_age: 21
                      checkout:
                        time: 10:00 AM
                      fees:
                        traveler_service: Your credit card statement will show two separate charges, one for the booking amount and property fees and another for the service fee. Both will be charged by Expedia partner HomeAway.com, Inc.. The traveler service fee is refundable only when your entire booking is fully refundable. Please refer to HomeAway's <a href=" https://www.homeaway.com/info/legal/terms-conditions " target="_blank"> terms and conditions</a> for the rules applicable to the booking facilitation services provided.
                      attributes:
                        pets:
                          '2050':
                            id: '2050'
                            name: Pets not allowed
                        general:
                          '2940':
                            id: '2940'
                            name: Minimum guest age is 0
                            value: '0'
                          '1073743917':
                            id: '1073743917'
                            name: Events/parties not allowed
                          '1073745102':
                            id: '1073745102'
                            name: Private host property
                      amenities:
                        '9':
                          id: '9'
                          name: Fitness facilities
                          categories:
                          - gym
                        '1073745320':
                          id: '1073745320'
                          name: Paddle boating nearby
                      images:
                      - hero_image: true
                        category: 21001
                        links:
                          350px:
                            method: GET
                            href: https://i.travelapi.com/lodging/68000000/67240000/67235700/4687248/fe7cef52_b.jpg
                          70px:
                            method: GET
                            href: https://i.travelapi.com/lodging/68000000/67240000/67235700/4687248/fe7cef52_t.jpg
                          1000px:
                            method: GET
                            href: https://i.travelapi.com/lodging/68000000/67240000/67235700/4687248/fe7cef52_z.jpg
                        caption: Room
                      onsite_payments:
                        currency: USD
                      dates:
                        added: '2021-04-30T09:00:28.495Z'
                        updated: '2023-08-06T12:52:58.185Z'
                      descriptions:
                        amenities: Take advantage of recreational opportunities offered, including a water park, an outdoor pool, and a fitness center. This vacation home also features an arcade/game room and barbecue grills.
                        business_amenities: Guests will find features like Internet access and onsite parking.
                        rooms: Make yourself comfortable in this air-conditioned vacation home, which features a fireplace and a Smart TV. There's a private balcony. A kitchen is outfitted with a refrigerator, an oven, and a stovetop. Complimentary wireless Internet access keeps you connected, and a DVD player is provided for your entertainment.
                        attractions: Distances are displayed to the nearest 0.1 mile and kilometer. <br /> <p>Super Cool Lake - 3.9 km / 2.5 mi <br /> Gray River - 7 km / 4.4 mi <br /> Super Cool Lake State Park - 8.5 km / 5.6 mi <br /> State Park Marina - 7.6 km / 4.7 mi <br /> </p><p>The nearest airports are:<br />Springfield-Branson National Airport (SGF) - 7.3 km / 4.8 mi<br /> Branson, MO (BKG) - 94.1 km / 60.4 mi<br /> </p><p></p>
                        location: When you stay at this vacation home, you'll be ready for a great vacation.
                        headline: Super Interesting Attractions Nearby
                        general: A stay in a vacation home shows a different side of Fun. Onsite parking is available during your stay.
                      statistics:
                        '52':
                          id: '52'
                          name: Total number of rooms - 1
                          value: '1'
                        '1073743378':
                          id: '1073743378'
                          name: Number of bedrooms - 6
                          value: '6'
                        '1073743379':
                          id: '1073743379'
                          name: Number of bathrooms - 4
                          value: '4'
                        '1073743380':
                          id: '1073743380'
                          name: Max occupancy - 16
                          value: '16'
                      themes:
                        '5019':
                          id: '5019'
                          name: Adventure sport property
                        '1073744357':
                          id: '1073744357'
                          name: Family
                      chain:
                        id: '0'
                        name: Independent
                      brand:
                        id: '0'
                        name: Independent
                      multi_unit: false
                      payment_registration_recommended: false
                      vacation_rental_details:
                        private_host: true
                        property_manager:
                          name: Scott Horton
                        house_rules:
                        - Children welcome
                        - No pets
                        - No smoking
                        - No parties or events
                        amenities:
                          '1':
                            id: '1'
                            name: Air conditioning
                          '1073745174':
                            id: '1073745174'
                            name: Travel crib
                        vrbo_srp_id: 334.3634257.3458973
                        listing_id: '1252577'
                        listing_number: '3834275'
                        listing_source: VRBO
                        listing_unit: /units/0001/429ecad2-bade-429a-a427-8adee57420ec
                        ipm_name: Good Company
                        unit_configurations:
                          '1':
                          - quantity: 1
                            type: KING_BED
                            description: 'King bed(s) - '
                          '2':
                          - quantity: 1
                            type: SLEEP_SOFA_FUTON
                            description: 'Sleep sofa/futon(s) - '
                          - quantity: 2
                            type: BUNK_BED
                            description: 'Bunk bed(s) - '
                          '3':
                          - quantity: 1
                            type: KING_BED
                            description: 'King bed(s) - '
                          '4':
                          - quantity: 1
                            type: KING_BED
                            description: 'King bed(s) - '
                          '5':
                          - quantity: 1
                            type: KING_BED
                            description: 'King bed(s) - '
                          '6':
                          - quantity: 1
                            type: KING_BED
                            description: 'King bed(s) - '
                        enhanced_house_rules:
                          Pets:
                            rule: No pets allowed
                            additional_information: []
                          CheckOut:
                            rule: Check out before 10:00 AM
                            additional_information: []
                          Events:
                            rule: No events allowed
                            additional_information: []
                          MinBookingAge:
                            rule: 'Minimum age to rent: 21'
                            additional_information: []
                          Occupancy:
                            rule: 'Maximum overnight guests: 16 (sleeps up to 16 adults)'
                            additional_information: []
                          CustomRules:
                            rule: No fireworks are permitted. Please respect our neighbors as many of them live here full time. Quiet hours are 10pm-8am.
                            additional_information:
                            - No weapons, illegal drugs, parties, disruptive guests, or underage drinking is permitted.
                          CheckIn:
                            rule: Check in after 4:00 PM
                            additional_information: []
                          Children:
                            rule: 'Children allowed: ages 0-17'
                            additional_information: []
                          Smoking:
                            rule: Smoking is not permitted
                            additional_information: []
                        free_text: 'Stunning brand new 2-story home with 6 bedrooms, 4 bathrooms, brand new appliances/furniture, game room, grill, patio, and beautiful scenery all around. Minutes from Super Cool Lake. This place is the perfect getaway for a larger group whether it be a golf trip, lake trip, or time to gather with the family. Please note this property has two parking stalls, in addition to first come first serve overflow parking in the community. Celebrating something special? Birthday, Anniversary, Bachelor/Bachelorette, etc? We also offer decorating services for an extra fee. Please inquire within! This home features a fully-equipped kitchen for preparing meals, onsite washer and dryer and most importantly a private space, much larger than a hotel room for private family time away from crowds and people. We have a self-check-in and check-out system to limit your contact with people as well. THE BASICS: 6 bedrooms & 1 loft - 5 Kings, 2 Bunk beds , and 1 pull-out couch in the loft - Sleeps 16 people. 4 Bathrooms - Master (jetted tub, walk-in shower, double sinks), other 3 bathrooms (tub/shower combo & sink). Fully Equipped Kitchen. Open Main Room with plenty of seating. Dining Room table and bar stools around kitchen island area.  Plenty of space to spread out and enjoy your friends/family.  Free Wifi. THE EXPERIENCE IN DETAIL: -As you walk in the front door and are greeted  by the open floor layout of our kitchen and great room you immediately breathe easy seeing that there is plenty of room here for you and your family. Our Kitchen is stocked with plenty of cookware and dishes so you can create a huge breakfast that will get everyone out of bed and ready for a day of fun. A potted coffee maker and a Keurig is available. You will need to bring your own coffee/pods/filters/creamer etc. Cozy up in the living room for a late night movie on our large flat-screen TV equipped for your viewing pleasure. Our luxury Master bedroom with it’s King size bed, premium bedding, and TV invite you and your spouse to relax together and feel a little spoiled. This is a vacation after all! Enjoy our Master Bath with it’s jetted tub, walk-in shower, and double sinks. Explore the Upstairs which has 4 Bedrooms - 3 furnished with a King size bed, premium bedding, 1 is the bunk room which is equipped with 4 twin size beds. This home is not handicapped accessible!!!'
                      supply_source: Vrbo
                      spoken_languages:
                        en:
                          id: en
                          name: English
                Multiple Properties Example:
                  value:
                    '12345':
                      property_id: '12345'
                      name: Test Property Name
                      address:
                        line_1: 123 Main St
                        line_2: Apt A
                        city: Springfield
                        state_province_code: MO
                        state_province_name: Missouri
                        postal_code: '65804'
                        country_code: US
                        obfuscation_required: false
                        localized:
                          links:
                            es-ES:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=es-ES&include=address&property_id=12345
                            fr-FR:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=fr-FR&include=address&property_id=12345
                      ratings:
                        property:
                          rating: '3.5'
                          type: Star
                        guest:
                          count: 48382
                          overall: '3.1'
                          cleanliness: '4.2'
                          service: '1.1'
                          comfort: '4.3'
                          condition: '1.6'
                          location: '4.0'
                          neighborhood: '3.4'
                          quality: '3.4'
                          value: '2.2'
                          amenities: '1.4'
                          recommendation_percent: 73%
                      location:
                        coordinates:
                          latitude: 37.158451
                          longitude: -93.268382
                        obfuscated_coordinates:
                          latitude: 37.159532
                          longitude: -93.271681
                        obfuscation_required: false
                      phone: 1-417-862-0153
                      fax: 1-417-863-7249
                      category:
                        id: '1'
                        name: Hotel
                      rank: 42
                      business_model:
                        expedia_collect: true
                        property_collect: false
                      checkin:
                        24_hour: 24-hour check-in
                        begin_time: 3:00 PM
                        end_time: 11:00 PM
                        instructions: Extra-person charges may apply and vary depending on hotel policy. &lt;br />Government-issued photo identification and a credit card or cash deposit are required at check-in for incidental charges. &lt;br />Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed. &lt;br />
                        special_instructions: There is no front desk at this property. To make arrangements for check-in please contact the property ahead of time using the information on the booking confirmation.
                        min_age: 18
                      checkout:
                        time: 11:00 AM
                      fees:
                        mandatory: '<p>You''ll be asked to pay the following charges at the hotel:</p> <ul><li>Deposit: USD 50 per day</li><li>Resort fee: USD 29.12 per accommodation, per night</li></ul> The hotel resort fee includes:<ul><li>Fitness center access</li><li>Internet access</li><li>Phone calls</li><li>Additional inclusions</li></ul> <p>We have included all charges provided to us by the property. However, charges can vary, for example, based on length of stay or the room you book. </p>'
                        optional: 'Fee for in-room wireless Internet: USD 15 per hour (rates may vary)</li> <li>Airport shuttle fee: USD 350 per vehicle (one way)</li>           <li>Rollaway bed fee: USD 175 per night</li>'
                      policies:
                        know_before_you_go: Reservations are required for massage services and spa treatments. Reservations can be made by contacting the hotel prior to arrival, using the contact information on the booking confirmation. </li><li>Children 11 years old and younger stay free when occupying the parent or guardian's room, using existing bedding. </li><li>Only registered guests are allowed in the guestrooms. </li> <li>Some facilities may have restricted access. Guests can contact the property for details using the contact information on the booking confirmation. </li> </ul>
                      attributes:
                        general:
                          '3357':
                            id: '3357'
                            name: Caters to adults only
                          '2549':
                            id: '2549'
                            name: No elevators
                        pets:
                          '51':
                            id: '51'
                            name: Pets allowed
                          '2809':
                            id: '2809'
                            name: Dogs only
                          '3321':
                            id: '3321'
                            name: Pet maximum weight in kg is - 24
                            value: 24
                      amenities:
                        '9':
                          id: '9'
                          name: Fitness facilities
                        '2820':
                          id: '2820'
                          name: Number of indoor pools - 10
                          value: 10
                      images:
                      - caption: Featured Image
                        hero_image: true
                        category: 3
                        links:
                          70px:
                            method: GET
                            href: https://i.travelapi.com/hotels/1000000/20000/15300/15237/bef1b976_t.jpg
                      onsite_payments:
                        currency: USD
                        types:
                          '171':
                            id: '171'
                            name: American Express
                      rooms:
                        '224829':
                          id: '224829'
                          name: Single Room
                          descriptions:
                            overview: <strong>2 Twin Beds</strong><br />269-sq-foot (25-sq-meter) room with mountain views<br /><br /><b>Internet</b> - Free WiFi <br /> <b>Entertainment</b> - Flat-screen TV with cable channels<br /><b>Food & Drink</b> - Refrigerator, coffee/tea maker,  room service, and free bottled water<br /><b>Sleep</b> - Premium bedding <br /><b>Bathroom</b> - Private bathroom, shower, bathrobes, and free toiletries<br /><b>Practical</b> - Safe and desk; cribs/infant beds available on request<br /><b>Comfort</b> - Climate-controlled air conditioning and daily housekeeping<br />Non-Smoking<br />
                          amenities:
                            '130':
                              id: '130'
                              name: Refrigerator
                            '1234':
                              id: '1234'
                              name: Test Amenity - 200
                              value: '200'
                          images:
                          - hero_image: true
                            category: 21001
                            links:
                              70px:
                                method: GET
                                href: https://i.travelapi.com/hotels/1000000/20000/15300/15237/bef1b976_t.jpg
                            caption: Guestroom
                          bed_groups:
                            '37321':
                              id: '37321'
                              description: 1 King Bed
                              configuration:
                              - type: KingBed
                                size: King
                                quantity: 1
                          area:
                            square_meters: 20
                            square_feet: 215
                          views:
                            '4146':
                              id: '4146'
                              name: Courtyard view
                          occupancy:
                            max_allowed:
                              total: 5
                              children: 2
                              adults: 4
                            age_categories:
                              Adult:
                                name: Adult
                                minimum_age: 9
                      rates:
                        333abc:
                          id: 333abc
                          amenities:
                            '2104':
                              id: '2104'
                              name: Full Breakfast
                            '1234':
                              id: '1234'
                              name: Test Amenity - 200
                              value: '200'
                          special_offer_description: "<strong>Breakfast for 2</strong> - Rate includes the following:\r\n<ul><li>Accommodations as selected</li>\r\n<li>Breakfast in hotel restaurant for up to 2 adults and children 12 years old and under registered in the same room</li>\r\n</ul><em>Must book this rate plan to receive benefits. Details provided at check-in. Taxes and gratuity may not be included. No refunds for any unused portion of offer. Offer subject to availability. Offer is not valid with groups/conventions and may not be combined with other promotional offers. Other restrictions and blackout dates may apply.</em>\r\n"
                      dates:
                        added: '1998-07-19T05:00:00.000Z'
                        updated: '2018-03-22T07:23:14.000Z'
                      descriptions:
                        amenities: Don't miss out on the many recreational opportunities, including an outdoor pool, a sauna, and a fitness center. Additional features at this hotel include complimentary wireless Internet access, concierge services, and an arcade/game room.
                        dining: Grab a bite at one of the hotel's 3 restaurants, or stay in and take advantage of 24-hour room service. Quench your thirst with your favorite drink at a bar/lounge. Buffet breakfasts are available daily for a fee.
                        renovations: 'During renovations, the hotel will make every effort to minimize noise and disturbance.  The property will be renovating from 08 May 2017 to 18 May 2017 (completion date subject to change). The following areas are affected:  <ul><li>Fitness facilities</li></ul>'
                        national_ratings: For the benefit of our customers, we have provided a rating based on our rating system.
                        business_amenities: Featured amenities include complimentary wired Internet access, a 24-hour business center, and limo/town car service. Event facilities at this hotel consist of a conference center and meeting rooms. Free self parking is available onsite.
                        rooms: Make yourself at home in one of the 334 air-conditioned rooms featuring LCD televisions. Complimentary wired and wireless Internet access keeps you connected, and satellite programming provides entertainment. Private bathrooms with separate bathtubs and showers feature deep soaking bathtubs and complimentary toiletries. Conveniences include phones, as well as safes and desks.
                        attractions: Distances are calculated in a straight line from the property's location to the point of interest or attraction, and may not reflect actual travel distance. <br /><br /> Distances are displayed to the nearest 0.1 mile and kilometer. <p>Sogo Department Store - 0.7 km / 0.4 mi <br />National Museum of Natural Science - 1.1 km / 0.7 mi <br />Shr-Hwa International Tower - 1.4 km / 0.8 mi <br />Shinkong Mitsukoshi Department Store - 1.5 km / 0.9 mi <br />Taichung Metropolitan Opera House - 1.7 km / 1 mi <br />Tiger City Mall - 1.8 km / 1.1 mi <br />Maple Garden Park - 1.9 km / 1.2 mi <br />National Museum of Fine Arts - 2.1 km / 1.3 mi <br />Feng Chia University - 2.4 km / 1.5 mi <br />Bao An Temple - 2.5 km / 1.6 mi <br />Fengjia Night Market - 2.5 km / 1.6 mi <br />Zhonghua Night Market - 2.7 km / 1.7 mi <br />Chonglun Park - 2.9 km / 1.8 mi <br />Wan He Temple - 2.9 km / 1.8 mi <br />Chungyo Department Store - 3.1 km / 1.9 mi <br /></p><p>The nearest airports are:<br />Taichung (RMQ) - 12 km / 7.5 mi<br />Taipei (TPE-Taoyuan Intl.) - 118.3 km / 73.5 mi<br />Taipei (TSA-Songshan) - 135.5 km / 84.2 mi<br /></p><p></p>
                        location: This 4-star hotel is within close proximity of Shr-Hwa International Tower and Shinkong Mitsukoshi Department Store.  A stay at Tempus Hotel Taichung places you in the heart of Taichung, convenient to Sogo Department Store and National Museum of Natural Science.
                        headline: Near National Museum of Natural Science
                      statistics:
                        '52':
                          id: '52'
                          name: Total number of rooms - 820
                          value: '820'
                        '54':
                          id: '54'
                          name: Number of floors - 38
                          value: '38'
                      airports:
                        preferred:
                          iata_airport_code: SGF
                      themes:
                        '2337':
                          id: '2337'
                          name: Luxury Hotel
                        '2341':
                          id: '2341'
                          name: Spa Hotel
                      all_inclusive:
                        all_rate_plans: true
                        some_rate_plans: false
                        details: <p>This resort is all-inclusive. Onsite food and beverages are included in the room price (some restrictions may apply). </p><p><strong>Activities and facilities/equipment</strong><br />Land activities<ul><li>Fitness facilities</li></ul><br />Lessons/classes/games <ul><li>Pilates</li><li>Yoga</li></ul></p><p><strong>Entertainment</strong><ul><li>Onsite entertainment and activities</li><li>Onsite live performances</li></ul></p>
                      tax_id: AB-012-987-1234-01
                      chain:
                        id: -6
                        name: Hyatt Hotels
                      brand:
                        id: '2209'
                        name: Hyatt Place
                      spoken_languages:
                        en:
                          id: en
                          name: English
                        zh-yue:
                          id: zh-yue
                          name: Chinese (Cantonese)
                      multi_unit: true
                      payment_registration_recommended: false
                      supply_source: expedia
                    '67890':
                      property_id: '67890'
                      name: Test Property Name 2
                      address:
                        line_1: 123 Main St
                        line_2: Apt A
                        city: Springfield
                        state_province_code: MO
                        state_province_name: Missouri
                        postal_code: '65804'
                        country_code: US
                        obfuscation_required: true
                        localized:
                          links:
                            es-ES:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=es-ES&include=address&property_id=67890
                            de-DE:
                              method: GET
                              href: https://api.ean.com/v3/properties/content?language=de-DE&include=address&property_id=67890
                      ratings:
                        property:
                          rating: '3.5'
                          type: Star
                        guest:
                          count: 7651
                          overall: '4.3'
                          cleanliness: '4.2'
                          service: '1.1'
                          comfort: '4.3'
                          condition: '1.6'
                          location: '4.0'
                          neighborhood: '3.4'
                          quality: '3.4'
                          value: '2.2'
                          amenities: '1.4'
                          recommendation_percent: 80%
                      location:
                        coordinates:
                          latitude: 37.158451
                          longitude: -93.268382
                        obfuscated_coordinates:
                          latitude: 37.159532
                          longitude: -93.271681
                        obfuscation_required: false
                      phone: 1-417-862-0153
                      fax: 1-417-863-7249
                      category:
                        id: '1'
                        name: Hotel
                      rank: 42
                      business_model:
                        expedia_collect: true
                        property_collect: true
                      checkin:
                        24_hour: 24-hour check-in
                        begin_time: 3:00 PM
                        end_time: 11:00 PM
                        instructions: Extra-person charges may apply and vary depending on hotel policy. &lt;br />Government-issued photo identification and a credit card or cash deposit are required at check-in for incidental charges. &lt;br />Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed. &lt;br />
                        special_instructions: There is no front desk at this property. To make arrangements for check-in please contact the property ahead of time using the information on the booking confirmation.
                        min_age: 18
                      checkout:
                        time: 11:00 AM
                      fees:
                        mandatory: '<p>You''ll be asked to pay the following charges at the hotel:</p> <ul><li>Deposit: USD 50 per day</li><li>Resort fee: USD 29.12 per accommodation, per night</li></ul> The hotel resort fee includes:<ul><li>Fitness center access</li><li>Internet access</li><li>Phone calls</li><li>Additional inclusions</li></ul> <p>We have included all charges provided to us by the property. However, charges can vary, for example, based on length of stay or the room you book. </p>'
                        optional: 'Fee for in-room wireless Internet: USD 15 per hour (rates may vary)</li> <li>Airport shuttle fee: USD 350 per vehicle (one way)</li>           <li>Rollaway bed fee: USD 175 per night</li>'
                      policies:
                        know_before_you_go: Reservations are required for massage services and spa treatments. Reservations can be made by contacting the hotel prior to arrival, using the contact information on the booking confirmation. </li><li>Children 11 years old and younger stay free when occupying the parent or guardian's room, using existing bedding. </li><li>Only registered guests are allowed in the guestrooms. </li> <li>Some facilities may have restricted access. Guests can contact the property for details using the contact information on the booking confirmation. </li> </ul>
                      attributes:
                        general:
                          '3357':
                            id: '3357'
                            name: Caters to adults only
                          '2549':
                            id: '2549'
                            name: No elevators
                        pets:
                          '51':
                            id: '51'
                            name: Pets allowed
                          '2809':
                            id: '2809'
                            name: Dogs only
                          '3321':
                            id: '3321'
                            name: Pet maximum weight in kg is - 24
                            value: 24
                      amenities:
                        '9':
                          id: '9'
                          name: Fitness facilities
                        '2820':
                          id: '2820'
                          name: Number of indoor pools - 10
                          value: 10
                      images:
                      - caption: Featured Image
                        hero_image: true
                        category: 3
                        links:
                          70px:
                            method: GET
                            href: https://i.travelapi.com/hotels/1000000/20000/15300/15237/bef1b976_t.jpg
                      onsite_payments:
                        currency: USD
                        types:
                          '171':
                            id: '171'
                            name: American Express
                      rooms:
                        '224829':
                          id: '224829'
                          name: Single Room
                          descriptions:
                            overview: <strong>2 Twin Beds</strong><br />269-sq-foot (25-sq-meter) room with mountain views<br /><br /><b>Internet</b> - Free WiFi <br /> <b>Entertainment</b> - Flat-screen TV with cable channels<br /><b>Food & Drink</b> - Refrigerator, coffee/tea maker,  room service, and free bottled water<br /><b>Sleep</b> - Premium bedding <br /><b>Bathroom</b> - Private bathroom, shower, bathrobes, and free toiletries<br /><b>Practical</b> - Safe and desk; cribs/infant beds available on request<br /><b>Comfort</b> - Climate-controlled air conditioning and daily housekeeping<br />Non-Smoking<br />
                          amenities:
                            '130':
                              id: '130'
                              name: Refrigerator
                            '1234':
                              id: '1234'
                              name: Test Amenity - 200
                              value: '200'
                          images:
                          - hero_image: true
                            category: 21001
                            links:
                              70px:
                                method: GET
                                href: https://i.travelapi.com/hotels/1000000/20000/15300/15237/bef1b976_t.jpg
                            caption: Guestroom
                          bed_groups:
                            '37321':
                              id: '37321'
                              description: 1 King Bed
                              configuration:
                              - type: KingBed
                                size: King
                                quantity: 1
                          area:
                            square_meters: 17
                          views:
                            '4134':
                              id: '4134'
                              name: City view
                          occupancy:
                            max_allowed:
                              total: 3
                              children: 2
                              adults: 3
                            age_categories:
                              ChildAgeA:
                                name: ChildAgeA
                                minimum_age: 3
                      rates:
                        333abc:
                          id: 333abc
                          amenities:
                            '2104':
                              id: '2104'
                              name: Full Breakfast
                            '1234':
                              id: '1234'
                              name: Test Amenity - 200
                              value: '200'
                          special_offer_description: "<strong>Breakfast for 2</strong> - Rate includes the following:\r\n<ul><li>Accommodations as selected</li>\r\n<li>Breakfast in hotel restaurant for up to 2 adults and children 12 years old and under registered in the same room</li>\r\n</ul><em>Must book this rate plan to receive benefits. Details provided at check-in. Taxes and gratuity may not be included. No refunds for any unused portion of offer. Offer subject to availability. Offer is not valid with groups/conventions and may not be combined with other promotional offers. Other restrictions and blackout dates may apply.</em>\r\n"
                      dates:
                        added: '1998-07-20T05:00:00.000Z'
                        updated: '2018-03-22T13:33:17.000Z'
                      descriptions:
                        amenities: Don't miss out on the many recreational opportunities, including an outdoor pool, a sauna, and a fitness center. Additional features at this hotel include complimentary wireless Internet access, concierge services, and an arcade/game room.
                        dining: Grab a bite at one of the hotel's 3 restaurants, or stay in and take advantage of 24-hour room service. Quench your thirst with your favorite drink at a bar/lounge. Buffet breakfasts are available daily for a fee.
                        renovations: 'During renovations, the hotel will make every effort to minimize noise and disturbance.  The property will be renovating from 08 May 2017 to 18 May 2017 (completion date subject to change). The following areas are affected:  <ul><li>Fitness facilities</li></ul>'
                        national_ratings: For the benefit of our customers, we have provided a rating based on our rating system.
                        business_amenities: Featured amenities include complimentary wired Internet access, a 24-hour business center, and limo/town car service. Event facilities at this hotel consist of a conference center and meeting rooms. Free self parking is available onsite.
                        rooms: Make yourself at home in one of the 334 air-conditioned rooms featuring LCD televisions. Complimentary wired and wireless Internet access keeps you connected, and satellite programming provides entertainment. Private bathrooms with separate bathtubs and showers feature deep soaking bathtubs and complimentary toiletries. Conveniences include phones, as well as safes and desks.
                        attractions: Distances are calculated in a straight line from the property's location to the point of interest or attraction, and may not reflect actual travel distance. <br /><br /> Distances are displayed to the nearest 0.1 mile and kilometer. <p>Sogo Department Store - 0.7 km / 0.4 mi <br />National Museum of Natural Science - 1.1 km / 0.7 mi <br />Shr-Hwa International Tower - 1.4 km / 0.8 mi <br />Shinkong Mitsukoshi Department Store - 1.5 km / 0.9 mi <br />Taichung Metropolitan Opera House - 1.7 km / 1 mi <br />Tiger City Mall - 1.8 km / 1.1 mi <br />Maple Garden Park - 1.9 km / 1.2 mi <br />National Museum of Fine Arts - 2.1 km / 1.3 mi <br />Feng Chia University - 2.4 km / 1.5 mi <br />Bao An Temple - 2.5 km / 1.6 mi <br />Fengjia Night Market - 2.5 km / 1.6 mi <br />Zhonghua Night Market - 2.7 km / 1.7 mi <br />Chonglun Park - 2.9 km / 1.8 mi <br />Wan He Temple - 2.9 km / 1.8 mi <br />Chungyo Department Store - 3.1 km / 1.9 mi <br /></p><p>The nearest airports are:<br />Taichung (RMQ) - 12 km / 7.5 mi<br />Taipei (TPE-Taoyuan Intl.) - 118.3 km / 73.5 mi<br />Taipei (TSA-Songshan) - 135.5 km / 84.2 mi<br /></p><p></p>
                        location: This 4-star hotel is within close proximity of Shr-Hwa International Tower and Shinkong Mitsukoshi Department Store.  A stay at Tempus Hotel Taichung places you in the heart of Taichung, convenient to Sogo Department Store and National Museum of Natural Science.
                        headline: Near National Museum of Natural Science
                      statistics:
                        '52':
                          id: '52'
                          name: Total number of rooms - 820
                          value: '820'
                        '54':
                          id: '54'
                          name: Number of floors - 38
                          value: '38'
                      airports:
                        preferred:
                          iata_airport_code: SGF
                      themes:
                        '2337':
                          id: '2337'
                          name: Luxury Hotel
                        '2341':
                          id: '2341'
                          name: Spa Hotel
                      all_inclusive:
                        all_rate_plans: true
                        some_rate_plans: false
                        details: <p>This resort is all-inclusive. Onsite food and beverages are included in the room price (some restrictions may apply). </p><p><strong>Activities and facilities/equipment</strong><br />Land activities<ul><li>Fitness facilities</li></ul><br />Lessons/classes/games <ul><li>Pilates</li><li>Yoga</li></ul></p><p><strong>Entertainment</strong><ul><li>Onsite entertainment and activities</li><li>Onsite live performances</li></ul></p>
                      tax_id: CD-012-987-1234-02
                      chain:
                        id: -5
                        name: Hilton Worldwide
                      brand:
                        id: '358'
                        name: Hampton Inn
                      spoken_languages:
                        en:
                          id: en
                          name: English
                      multi_unit: true
                      payment_registration_recommended: true
                      supply_source: expedia
                Multiple Properties With include name, and ratings:
                  value:
                    '12345':
                      property_id: '12345'
                      name: Test property 1
                      ratings:
                        property:
                          rating: '3.5'
                          type: Star
                        guest:
                          count: 48382
                          overall: '3.1'
                          cleanliness: '4.2'
                          service: '1.1'
                          comfort: '4.3'
                          condition: '1.6'
                          location: '4.0'
                          neighborhood: '3.4'
                          quality: '3.4'
                          value: '2.2'
                          amenities: '1.4'
                          recommendation_percent: 73%
                    '67890':
                      property_id: '67890'
                      name: Test property 2
                      ratings:
                        property:
                          rating: '4.0'
                          type: Star
                        guest:
                          count: 3451
                          overall: '4.1'
                          cleanliness: '4.9'
                          service: '3.1'
                          comfort: '4.8'
                          condition: '3.6'
                          location: '4.7'
                          neighborhood: '4.4'
                          quality: '3.9'
                          value: '3.2'
                          amenities: '4.4'
                          recommendation_percent: 90%
                No Properties Example:
                  value: {}
        '400':
          description: Invalid Input
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: invalid_input
                message: An invalid request was sent in, please check the nested errors for details.
                errors:
                - type: language.required
                  message: 'A language is required. Supported languages are: [ar-SA, cs-CZ, da-DK, de-DE, el-GR, en-US, es-ES, es-MX, fi-FI, fr-CA, fr-FR, hr-HR, hu-HU, id-ID, is-IS, it-IT, ja-JP, lt-LT, ko-KR, ms-MY, nb-NO, nl-NL, pl-PL, pt-BR, pt-PT, ru-RU, sk-SK, sv-SE, th-TH, tr-TR, uk-UA, vi-VN, zh-CN, zh-TW]'
                  fields:
                  - name: language
                    type: querystring
                - type: language.above_maximum
                  message: The number of languages passed in must not be greater than 1.
                  fields:
                  - name: language
                    type: querystring
                - type: language.not_supported
                  message: 'Language is not supported. Supported languages are: [ar-SA, cs-CZ, da-DK, de-DE, el-GR, en-US, es-ES, es-MX, fi-FI, fr-CA, fr-FR, hr-HR, hu-HU, id-ID, is-IS, it-IT, ja-JP, lt-LT, ko-KR, ms-MY, nb-NO, nl-NL, pl-PL, pt-BR, pt-PT, ru-RU, sk-SK, sv-SE, th-TH, tr-TR, uk-UA, vi-VN, zh-CN, zh-TW]'
                  fields:
                  - name: language
                    type: querystring
                    value: xXX
                - type: property_id.must_be_numeric
                  message: All provided property_id query parameters must be numeric (contains only digits 0-9, with no other characters).
                  fields:
                  - name: property_id
                    type: querystring
                    value: abc
                  - name: property_id
                    type: querystring
                    value: 123adsf
                - type: property_id.above_maximum
                  message: A maximum of 250 property_id query parameters may be provided to this request.
                  fields:
                  - name: property_id
                    type: querystring
        '401':
          description: Unauthorized
          headers:
            Region:
              $ref: '#/components/headers/Region'
            WWW-Authenticate:
              description: Provides an example of the Authorization header.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthenticated
                message: Data required to authenticate your request is missing or inaccurate. Ensure that your request follows the guidelines in our documentation.
                fields:
                - name: apikey
                  type: header
                  value: jaj3982k239dka328e
                - name: signature
                  type: header
                  value: 129d75332614a5bdbe0c7eb540e95a65f9d85a5b53dabb38d19b37fad6312a2bd25c12ee5a82831d55112087e1b
                - name: timestamp
                  type: header
                  value: 198284729
                - name: servertimestamp
                  type: server
                  value: 198284729
        '403':
          description: Forbidden
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: request_unauthorized
                message: Your request could not be authorized.
        '410':
          description: Gone
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: link.expired
                message: The link you followed has expired. Please build a new request to restart pagination.
        '426':
          description: Upgrade Required
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: upgrade_required
                message: This service requires the use of TLS.
        '429':
          description: Too Many Requests
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: too_many_requests
                message: You have reached your capacity for this type of request.
        '500':
          description: Unknown Internal Error
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: unknown_internal_error
                message: An internal server error has occurred.
        '503':
          description: Service Unavailable
          headers:
            Region:
              $ref: '#/components/headers/Region'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                type: service_unavailable
                message: This service is currently unavailable.
      security:
      - rapidAuth: []
  /properties/inactive:
    get:
      tags:
      - Content
      summary: Expedia Group Inactive Properties
      description: 'Request a list of properties that are inactive because they have been removed from sale since a specified

        date.<br><br>

        When there are a large number of properties in the response, it will be paginated. See the `Link` header in the

        200 response section.

        '
      operationId: getInactiveProperties
      parameters:
      - name: Accept
        in: header
        description: 'Specifies the response format that the client would like to receive back. This must be `application/json`.

          '
        required: true
        schema:
          type: string
        example: application/json
      - name: Accept-Encoding
        in: header
        description: 'Specifies the response encoding that the client would like to receive back. This must be `gzip`.

          '
        required: true
        schema:
          type: string
        example: gzip
      - name: User-Agent
        in: header
        description: "The `User-Agent` header string from the customer's request, as captured by your integration. If you are \nbuilding an application then the `User-Agent` value should be `{app name}/{app version}`.\n"
        required: true
        schema:
          type: string
        example: TravelNow/3.30.112
      - name: Customer-Session-Id
        in: header
        description: 'Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same

          value for each subsequent API call during the user''s session, using a new value for every new customer session.<br>

          Including this value greatly eases EPS''s internal debugging process for issues with partner requests,

          as it explicitly links together request paths for individual user''s session.

          '
        schema:
          type: string
      - name: since
        in: query
        description: 'Required on initial call, not accepted on subsequent paging links provided in response header.<br>

          The earliest date that a property became inactive to include in the results. ISO 8601 format (YYYY-MM-DD)

          '
        schema:
          type: string
        example: '2023-05-01'
      - name: token
        in: query
        description: 'Only used for requesting additional pages of data. Provided by the `next` URL in the `Link` response header.

          '
        schema:
          type: string
        example: MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m
      - name: billing_terms
        in: query
        description: 'This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed,

          the value for this will be provided to you separately.

          '
        schema:
          type: string
      - name: payment_terms
        in: query
        description: 'This parameter is to specify what terms should be used when being paid for a resulting booking. If this

          field is needed, the value for this will be provided to you separately.

          '
        schema:
          type: string
      - name: partner_point_of_sale
        in: query
        description: 'This parameter is to specify what point of sale is being used to shop and book. If this field is needed,

          the value for this will be provided to you separately.

          '
        schema:
          type: string
      - name: platform_name
        in: query
        description: 'This parameter is to specify what platform is being used to shop and book. If this field is needed, the

          value for this will be provided to you separately.

          '
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the daily capacity resets.
              schema:
                type: number
            Rate-Limit-Minute:
              description: Reserved for future use. Optional header for request capacity per minute.
              schema:
                type: number
            Rate-Limit-Minute-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the per minute time window.
              schema:
                type: number
            Rate-Limit-Minute-Reset:
              description: Optional header for the timestamp, as the number of milliseconds since the Unix Epoch, when the per minute capacity resets.
              schema:
                type: number
            Rate-Limit-Reduction-Status:
              description: Optional header that indicates the state (inactive, active) of minute capacity reduction triggered once all daily capacity has been used.
              schema:
                type: string
            Link:
              description: 'Contains a single link to get the immediate next page of results, and follows the

                [IETF standard](https://tools.ietf.org/html/rfc5988). To get the next page of results, simply follow

                the `next` URL in this header without modifying it. This header will be missing when there are no

                further pages. If the link expires, there will be an `expires` link-extension that is the UTC date the

                link will expire, in ISO 8601 format.

                '
              schema:
                type: string
                example: <https://test.ean.com/v3/properties/inactive?token=MY5S3j36cOcLfLBZjPYQ1abhfc8CqmjmFVzkk7euvWaunE57LLeDgaxm516m>; rel="next"; expires=2023-06-29T20:15:05.324083439Z
            Pagination-Total-Results:
              description: Contains the total number of property objects found.
              schema:
                type: number
                example: 827
          content:
            application/json:
              schema:
                type: array
                description: The list of properties that became inactive and are still inactive since the requested date.
                items:
                  $ref: '#/components/schemas/PropertyInactive'
              examples:
                Inactive Properties:
                  value:
                  - property_id: '12345'
                  - property_id: '23456'
                No Results:
                  value: []
        '400':
          description: Invalid Input
          headers:
            Rate-Limit-Day:
              description: Reserved for future use. Optional header for request capacity per day.
              schema:
                type: number
            Rate-Limit-Day-Remaining:
              description: Optional header for the remaining capacity, as a percentage, for the daily time window.
              schema:
                type: number
            Rate-Limit-Day-Reset:
[...]
